@page "/reportFileUploads/ReportViewer/{ReportName}"

@using AC.SD.Core.Reports;
@using DevExpress.Blazor.Reporting
@using DevExpress.XtraReports.UI
@using DevExpress.Blazor.Reporting.Models
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@inject NavigationManager NavigationManager
@using Application.Queries;
@using MediatR;
@inject IMediator Mediator
<div @ref="viewerComponent" style="width: 100%; height: calc(100vh - 150px);">
    <DxReportViewer @ref="reportViewer" Report="Report" SizeMode="SizeMode.Small" SinglePagePreview="true" RootCssClasses="w-100 h-100" />
</div>
@code {
    // The page uses a service that translates a report name to a report instance.
    [Inject] public DevExpress.XtraReports.Services.IReportProvider reportProvider { get; set; }
    DxReportViewer reportViewer;
    XtraReport Report;

    private ElementReference viewerComponent;
    [Parameter]
    public string ReportName { get; set; }
    protected override async Task OnInitializedAsync()
    {
        bool isValid = Guid.TryParse(ReportName, out _);
        if (isValid == true)
        {
            var reportDatas = await Mediator.Send(new GetDynamicFormReportOneData(new Guid(ReportName)));
            if (reportDatas != null && reportDatas.DynamicFormSessionId != null)
            {
                Configuration["ConnectionStrings:JsonConnection"] = NavigationManager.BaseUri + "api/DynamicForm/GetDynamicFormDataList?DynamicFormSessionId=" + reportDatas.DynamicFormSessionId;
            }
        }
        if (String.IsNullOrEmpty(ReportName))
        {
            ReportName = "PalletItembyShipment";
        }
        Report = reportProvider.GetReport(ReportName, null);
    }

    public async void LoadData(string SelectedReport)
    {
        if (String.IsNullOrEmpty(ReportName))
        {
            ReportName = SelectedReport;
        }
        Report = reportProvider.GetReport(SelectedReport, null);
        StateHasChanged();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //reportViewer.TabPanelModel.
            //reportViewer.TabPanelModel[TabContentKind.Parameters].Visible = false;
            //reportViewer.TabPanelModel[TabContentKind.Search].Visible = false;
            reportViewer.TabPanelModel[TabContentKind.ExportOptions].Visible = false;
            //reportViewer.TabPanelModel[TabContentKind.DocumentMap].Visible = false;
        }
        base.OnAfterRender(firstRender);
    }
}
