@using System.Collections.Generic
@using DevExpress.Blazor
@layout MainLayout
@using Application.Queries;
@using Application.Response;
@using global::Core.Entities;
@using global::Core.Repositories.Query;
@using MediatR
@inject IMediator Mediator
@using AC.SD.Core.Configuration
@inject DemoConfiguration Configuration
@inject DemoThemeService Themes
@inject NavigationManager NavigationManager
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@page "/Dashboard"
@page "/Dashboard/{ActiveIndex:int}"
@implements IAsyncDisposable
@rendermode @(new  InteractiveServerRenderMode(prerender: false))
<div class="">
    <DxFormLayout CssClass="w-100">
        <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveTabIndex">
            <div>
                <DxFormLayoutTabPage Caption="Dynamic Form Approval" Click="OnTabClick">
                    <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none;width:100%">
                        <DynamicFormPendingApproval @ref="refDynamicFormPendingApproval"></DynamicFormPendingApproval>
                    </div>
                </DxFormLayoutTabPage>
                <DxFormLayoutTabPage Caption="Scheduler" Click="OnTabClick">
                    <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none;width:100%">
                        <Dashboard></Dashboard>
                    </div>
                </DxFormLayoutTabPage>
                <DxFormLayoutTabPage Caption="Approved Status" Click="OnTabClick">
                    <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none;width:100%">
                        <ApprovalDynamicDataForm @ref="refApprovalDynamicDataForm"></ApprovalDynamicDataForm>
                    </div>
                </DxFormLayoutTabPage>
                <DxFormLayoutTabPage Caption="Dynamic Form Section Approval" Click="OnTabClick">
                    <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none;width:100%">
                        <DynamicFormSectionApprovedPage @ref="refDynamicFormWorkFlowSectionApprovals"></DynamicFormSectionApprovedPage>
                    </div>
                </DxFormLayoutTabPage>
                <DxFormLayoutTabPage Caption="Memo" Click="OnTabClick">
                    <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none;width:100%">
                        <MemoUserLists @ref="refMemoLists"></MemoUserLists>
                    </div>
                </DxFormLayoutTabPage>
            </div>
        </DxFormLayoutTabPages>
    </DxFormLayout>
</div>
@code {
    private MemoUserLists refMemoLists;
    private DynamicFormSectionApprovedPage refDynamicFormWorkFlowSectionApprovals;
    private DynamicFormPendingApproval refDynamicFormPendingApproval;
    private ApprovalDynamicDataForm refApprovalDynamicDataForm;
    [Parameter]
    public int ActiveIndex { get; set; } = 0;    
    public int ActiveTabIndex { get; set; } = 0;
    public ApplicationUser applicationUser { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        ActiveTabIndex = ActiveIndex;
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");

        var checkauthorize = await _localStorageService.GetItem<ApplicationUser>("user");

        var pushToken = await _localStorageService.GetItemOne("PushToken");

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");



        if (checkauthorize == null)
        {
            NavigationManager.NavigateTo($"Login");
        }
        else
        {
            if (pushToken != null)
            {
                var rstdata = await Mediator.Send(new AddPushTokenID(applicationUser.LoginID, "Web", pushToken));
            }
            // NavigationManager.NavigateTo("/hrms/Dashboard");
        }

    }

    void OnTabClick(TabClickEventArgs e)
    {
        // var indexid = e.TabIndex;
        // NavigationManager.NavigateTo($"myday/{e.TabIndex}");
        // StateHasChanged();
    }
    public async ValueTask DisposeAsync()
    {
        //System.GC.Collect();
        refDynamicFormPendingApproval?.DisposeAsync();
        refApprovalDynamicDataForm?.DisposeAsync();
        refDynamicFormWorkFlowSectionApprovals?.DisposeAsync();
        // refMemoLists?.DisposeAsync();
        //GC.SuppressFinalize(this);
    }
}
