@page "/login"
@inject IAccountService AccountService
@inject IAlertService AlertService
@inject NavigationManager NavigationManager
@layout LoginLayout
@inherits LayoutComponentBase
@using AC.SD.Core.Data;
@using AC.SD.Core.Helpers;

@using MediatR
@inject IMediator Mediator

@using Application.Commands;
@using Application.Queries;
@using Application.Response;


<div class="row" style="background: #eeeeee; padding: 10px;height:100vh;">
    <div class="col-md-8 card">
        
    </div>
    <div class="col-md-4" style="margin-top:15%;">

        <div class="card">
           @* <h4 class="card-header">Login</h4>*@
            <div class="card-body">
                <img src="images/login/sw-logo.png" asp-append-version="true" />
                <img src="/images/login/SW-Left.png" asp-append-version="true" /><img src="/images/SWLogo.png" asp-append-version="true" />
                <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label>Username</label>
                        <InputText @bind-Value="model.LoginID" class="form-control" />
                        <ValidationMessage For="@(() => model.LoginID)" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <InputText @bind-Value="model.Password" type="password" class="form-control" />
                        <ValidationMessage For="@(() => model.Password)" />
                    </div>
                    <button disabled="@loading" class="btn btn-primary" style="float:right; margin-top:10px;">
                        @if (loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        Login
                    </button>                    
                </EditForm>
            </div>
        </div>
    </div>
</div>



@code {
    private Data.Account.Logins model = new Data.Account.Logins();
    private bool loading;

    private async void OnValidSubmit()
    {
        // reset alerts on submit
        AlertService.Clear();

        loading = true;

        var request = new LoginRequest
            {
                LoginID = model.LoginID,
                Password = model.Password
            };

        try
        {
            var response = await Mediator.Send(request);
            if(response !=null)
            {
                NavigationManager.NavigateTo("/Dashboard");                
            }
            else
            {
                AlertService.Error("Username or password is incorrect");
                loading = false;
                StateHasChanged();
            }

        }
        catch(Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
            
        }


       
      

        


        //try
        //{
        //    await AccountService.Login(model);
        //    var returnUrl = NavigationManager.QueryString("returnUrl") ?? "";
        //    NavigationManager.NavigateTo(returnUrl);
        //}
        //catch (Exception ex)
        //{
        //    AlertService.Error(ex.Message);
        //    loading = false;
        //    StateHasChanged();
        //}
    }
}