@page "/OdataGridList/OdataGridList1"
 @using RestSharp;
 @using Newtonsoft.Json;
 @using Newtonsoft.Json.Linq;
 @using System.Dynamic;
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <div class="menu-bar-content-container col-md-12">
        <div class="card w-100" style="margin-bottom:1px;">
            <div class="card-body p-0">

                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Auto">

                    <Items>
                        <DxMenuItem Position="ItemPosition.End" Text="Export" title="Export to XLSX" IconCssClass="fa fa-file-excel" Click="ExportXlsx_Click" />
                    </Items>
                </DxMenu>

            </div>
        </div>
    </div>
    <DxGrid Data="@DataSource" @ref="Grid"
            PageSize="50"
            ShowGroupPanel="true" ShowGroupedColumns="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            VirtualScrollingEnabled="true"
            ShowSearchBox="true"
            SearchTextParseMode="GridSearchTextParseMode.ExactMatch"
            SearchText="@searchText"
            SearchTextChanged="OnSearchTextChanged"
            style="height: calc(100vh - 280px);"
            CssClass="w-100"
            TextWrapEnabled="false">
        <Columns>
            <DxGridDataColumn FieldName="profileNo" Caption="Profile No" />
            <DxGridDataColumn FieldName="10973_Attr$QC_Reference_No_-_PDJ" Caption="QC Reference No - PDJ" />
            <DxGridDataColumn FieldName="10972_Attr$FP_Batch_information" Caption="FP Batch information" />
            <DxGridDataColumn FieldName="11013_Attr$Machine" Caption="Machine" />

        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="profileNo" />
            
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
@code {
    //main Grid
    int PageCount { get; set; } = 0; int TotalRecords { get; set; } = 0; int PageNo { get; set; } = 1;
    int ActivePageIndex { get; set; } = 0;
    public string? searchText { get; set; }
    IGrid? Grid { get; set; }
    bool PanelVisible { get; set; } = true;
    public int PageSize = 50;
    public List<dynamic> DataSource { get; set; } = new List<dynamic>();
    bool ExportSelectedRowsOnly { get; set; }
    //
    public string? Baseurl = "https://portal.sunwardpharma.com:8423/api/DynamicForm/GetDynamicFormDataListPaging?DynamicFormSessionId=d59cfc4b-8e20-4114-9d77-63f683b53056";
    public string? url = string.Empty;
    int PagePageNo { get; set; } = 1;
    private int apiSearchCount { get; set; } = 0;
    public List<dynamic> DataSource1 { get; set; } = new List<dynamic>();
    public List<string> ColumnList { get; set; } = new List<string>();
    protected override async Task OnInitializedAsync()
    {
        await GenerateList();
        await loadData();
    }
    string GenerateUrl()
    {
        string urlString = Baseurl + "&&PageNo=" + PagePageNo + "&&PageSize=" + PageSize;
        return urlString;
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    async Task GenerateList()
    {
        PanelVisible = true;
        var DataSources = await restApi();
        if (DataSources.Count() > 0)
        {
        }
        else
        {
            DataSource = new List<dynamic>();
            PanelVisible = false;
        }
        StateHasChanged();
    }
    async Task<List<dynamic>> restApi()
    {
        List<dynamic> DataSourceItem = new List<dynamic>();
        string? Url = GenerateUrl();
        var client = new RestClient(Url);
        var request = new RestRequest(Url, Method.Get);
        RestResponse response = await client.ExecuteAsync(request);
        var deserial = JsonConvert.DeserializeObject<dynamic>(response.Content);
        if (deserial.results.Count > 0)
        {
            var counts = deserial.results.Count;
            for (int i = 0; i < counts; i++)
            {
                if (i == 0)
                {
                    TotalRecords = (int)deserial.results[i].totalPage;
                    if (TotalRecords > 0)
                    {
                        PageCount = ((TotalRecords - 1) / PageSize) + 1;
                    }
                }
                if (deserial.results[i].objectDataItems != null)
                {
                    var result = deserial.results[i].objectDataItems;
                    DataSourceItem.Add(result);
                }
            }
        }
        return DataSourceItem;
    }
    void OnSearchTextChanged(string? newSearchText)
    {
        searchText = newSearchText;
    }
    async Task loadData()
    {
        for (int i = 1; i <= PageCount; i++)
        {
            PanelVisible = true;
            PagePageNo = i;
            var listData = await restApi();
            if (listData != null && listData.Count > 0)
            {
                listData.ForEach(f =>
                {
                    DataSource1.Add(f);
                });
            }
        }
        DataSource = DataSource1;
        PanelVisible = false;
        StateHasChanged();
    }
    async Task ExportXlsx_Click()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = ExportSelectedRowsOnly
            });
    }
}