@inject DemoConfiguration Configuration
@inject NavigationManager NavigationManager
@implements IDisposable

<DemoScriptLoader @ref=@feedbackHelper Src="_content/AC.SD.Core/lib/page-feedback.js">
</DemoScriptLoader>

@code {
    DemoScriptLoader feedbackHelper;

   
    public bool Enabled { get; set; }
    public FeedbackPanelState State { get; set; } = FeedbackPanelState.Normal;
    public string FeedbackText { get; set; }

    protected override void OnInitialized() {
        Enabled = Configuration.GetConfigurationValue<bool>("FeedbackEnabled");
        NavigationManager.LocationChanged += OnLocationChanged;       
    }
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(firstRender) {
            var dotNetReference = DotNetObjectReference.Create(this);
            await feedbackHelper.InvokeVoidAsync("DemoFeedbackHelper.setDotNetReference", dotNetReference);
        }
    }
    void OnLocationChanged(object sender, LocationChangedEventArgs args) {       
        State = FeedbackPanelState.Normal;
        StateHasChanged();
    }
  
    public bool IsFeedbackFormVisible() {
        return State == FeedbackPanelState.PositiveFeedbackForm ||
               State == FeedbackPanelState.PositiveFeedbackFormSending ||
               State == FeedbackPanelState.NegativeFeedbackForm ||
               State == FeedbackPanelState.NegativeFeedbackFormSending;
    }
    public bool IsFeedbackFormTextAreaEnabled() {
        return State == FeedbackPanelState.PositiveFeedbackForm || State == FeedbackPanelState.NegativeFeedbackForm;
    }
    public bool IsFeedbackFormButtonEnabled() {
        return (State == FeedbackPanelState.PositiveFeedbackForm || State == FeedbackPanelState.NegativeFeedbackForm) && !string.IsNullOrEmpty(FeedbackText);
    }
    async Task OnSendFeedbackButtonClick() {
        if(State == FeedbackPanelState.PositiveFeedbackForm)
            await SubmitPositiveFeedback();
        if(State == FeedbackPanelState.NegativeFeedbackForm)
            await SubmitNegativeFeedback();
    }
    void OnSkipSendFeedbackButtonClick() {
        State = FeedbackPanelState.Completed;
    }

    async Task ShowPositiveFeedbackForm() {
        await SendPositiveFeedback("", false);
        State = FeedbackPanelState.PositiveFeedbackForm;
    }
    async Task ShowNegativeFeedbackForm() {
        await SendNegativeFeedback("", false);
        State = FeedbackPanelState.NegativeFeedbackForm;
    }
    async Task SubmitPositiveFeedback() {
        await SendPositiveFeedback(FeedbackText, true);
        State = FeedbackPanelState.PositiveFeedbackFormSending;
    }
    async Task SubmitNegativeFeedback() {
        await SendNegativeFeedback(FeedbackText, true);
        State = FeedbackPanelState.NegativeFeedbackFormSending;
    }

    async Task SendPositiveFeedback(string message, bool completed) {
        await feedbackHelper.InvokeVoidAsync("DemoFeedbackHelper.sendFeedback", 1, message, completed);
    }
    async Task SendNegativeFeedback(string message, bool completed) {
        await feedbackHelper.InvokeVoidAsync("DemoFeedbackHelper.sendFeedback", -1, message, completed);
    }
    [JSInvokable("FeedbackCompleted")]
    public void FeedbackCompleted() {
        State = FeedbackPanelState.Completed;
        StateHasChanged();
    }
    [JSInvokable("FeedbackFailed")]
    public void FeedbackFailed() {
        State = FeedbackPanelState.Error;
        StateHasChanged();
    }

    public RenderFragment GetFeedbackFormTextMarkup() {
        if(State == FeedbackPanelState.PositiveFeedbackForm || State == FeedbackPanelState.PositiveFeedbackFormSending) {
            return
                @<div>
                    <p>If you’d like us to extend this demo further, please describe your needs below.</p>
                    <p>Thank you in advance for your cooperation.</p>
                </div>;
        }
        if(State == FeedbackPanelState.NegativeFeedbackForm || State == FeedbackPanelState.NegativeFeedbackFormSending) {
            return
                @<div>
                    <p>Please describe your use-case below and we’ll be happy to extend this demo to better server your needs.</p>                    
                </div>;
        }
        return null;
    }

    public void Dispose() {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
