@using global::Core.Entities;
@using global::Core.Repositories.Query;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILocalStorageService<ApplicationUser> _localStorageService

<div>
    <Alert />
    @Body
</div>

@code {
    //public bool LoggedIn 
    //{
    //    get { return AccountService.User != null; }
    //}
    protected override async void OnInitialized()
    {
        //var checkauthorize = await _localStorageService.GetItem<ApplicationUser>("user");
        // redirect to home if already logged in
        //if (checkauthorize != null)
        //{
        //    NavigationManager.NavigateTo("");
        //}
    }
}