@using global::Core.Entities;
@using global::Core.Repositories.Query;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILocalStorageService<ApplicationUser> _localStorageService

<div>
    <Alert />
    @Body
</div>

@code {   
    protected override async void OnInitialized()
    {
        var checkauthorize = await _localStorageService.GetItem<ApplicationUser>("user");
       
        if (checkauthorize == null)
        {
            NavigationManager.NavigateTo($"/Login");
        }
        else
        {
            NavigationManager.NavigateTo("/Dashboard");
        }
    }
}