@using global::Core.Entities;
@using global::Core.Repositories.Query;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILocalStorageService<ApplicationUser> _localStorageService
<link href="_content/AC.SD.Core/css/site.css" rel="stylesheet" />

<link href="_content/AC.SD.Core/lib/font-awesome/css/all.css" rel="stylesheet" />
<link href="_content/DevExpress.Blazor.RichEdit/dx-blazor-richedit.bs5.css" rel="stylesheet" />
<link href="_content/DevExpress.Blazor.RichEdit/dx-blazor-richedit.css" rel="stylesheet" />
<link href="_content/DevExpress.Blazor.Dashboard/ace.css" rel="stylesheet" />
<link href="_content/DevExpress.Blazor.Dashboard/ace-theme-dreamweaver.css" rel="stylesheet" />

<link href="_content/DevExpress.Blazor.Dashboard/dx.light.css" rel="stylesheet" />
<link href="_content/DevExpress.Blazor.Dashboard/dx-analytics.common.css" rel="stylesheet" />
<link href="_content/DevExpress.Blazor.Dashboard/dx-analytics.light.css" rel="stylesheet" />
<link href="_content/DevExpress.Blazor.Dashboard/dx-querybuilder.css" rel="stylesheet" />
<link href="_content/DevExpress.Blazor.Dashboard/dx-dashboard.light.min.css" rel="stylesheet" />
<div>   
    @Body
</div>

@code {   
  
    protected override async void OnInitialized()
    {
        
    }
}