@page "/DynamicFormApprovedMainList"
@using global::Core.Entities.Views;

@inject IMediator Mediator
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@rendermode @(new  InteractiveServerRenderMode(prerender: false))
@implements IDisposable


<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Form" IconCssClass="fa fa-wpforms" Click="@OpenNewForm" Enabled="@EditEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid" Data="@_dynamicForm" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSize="20"
            style="height: calc(100vh - 220px);"
            CssClass="w-100"
            FocusedRowEnabled="true"
            KeyFieldName="ID"
            AllowSelectRowByClick="true"
            RowClick="OnRowclick"
            CustomizeElement="Grid_CustomizeElement"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            VirtualScrollingEnabled="true"
            RowDoubleClick="OnRowDoubleClick">

        <Columns>
            <DxGridDataColumn FieldName="ScreenID" MinWidth="50" Caption="Screen Name" />
            <DxGridDataColumn FieldName="Name" Caption="Form Name" MinWidth="50" />
            <DxGridDataColumn FieldName="ModifiedBy" Caption="Modified By" MinWidth="50" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date" MinWidth="50" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Name" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>


@code {
    private IDisposable? DynamicFormPage4;
    IGrid? Grid { get; set; }
    bool PanelVisible { get; set; }
    private List<DynamicForm> _dynamicForm;
    public ApplicationUser? applicationUser { get; private set; }
    private DynamicForm _selectedItems;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        if (applicationUser != null)
        {
            await UpdateDataAsync();
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            DynamicFormPage4 =
                NavigationManager.RegisterLocationChangingHandler(OnLocationChanging);
        }
    }

    private ValueTask OnLocationChanging(LocationChangingContext context)
    {
        if (context.TargetLocation == "/counter")
        {
            context.PreventNavigation();
        }

        return ValueTask.CompletedTask;
    }
    async Task onshowLoading()
    {
        await JSRuntime.InvokeAsync<string>("showLoading");
    }
    async Task onhideLoading()
    {
        await JSRuntime.InvokeAsync<string>("hideLoading");
    }
    public void Dispose()
    {

        DynamicFormPage4?.Dispose();
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
    async Task UpdateDataAsync()
    {
        EditEnabled = false; DeleteEnabled = false;
        _dynamicForm = await Mediator.Send(new GetAllDynamicForm(applicationUser.UserID));
        //PanelVisible = true;
        await onshowLoading();
        if (_dynamicForm != null && _dynamicForm.Count>0)
        {
            //EditEnabled = true; DeleteEnabled = true;
            _selectedItems = _dynamicForm.FirstOrDefault();
           // Grid.SetFocusedRowIndex(0);
        }
        await onhideLoading();
        //PanelVisible = false;
        StateHasChanged();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    void OnRowclick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        _selectedItems = _dynamicForm.FirstOrDefault(f => f.ID == (long?)UniqueId);
        EditEnabled = true;
        DeleteEnabled = true;
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowclick(e);
        NavigationManager.NavigateTo("DynamicFormApprovedMainList/DynamicFormApprovedList/" + _selectedItems.SessionID);
    }
    void OpenNewForm()
    {
        if (_selectedItems != null)
        {
            NavigationManager.NavigateTo("DynamicFormApprovedMainList/DynamicFormApprovedList/" + _selectedItems.SessionID);
        }
    }
}
