@using global::Core.Entities
@if (_AttributeHeader!=null && _AttributeHeader.DynamicFormSectionAttrFormulaFunctions != null && _AttributeHeader.DynamicFormSectionAttrFormulaFunctions.Count() > 0)
{
    <h3 style=" text-align: center;padding:5px;">Formula</h3>
    <table style="font-family:Times New Roman;font-size:12px;border-collapse:collapse;width:100%;">
        <thead>
            <tr>
                <th style="text-align:left; border:1px solid;padding:8px;font-weight:bold;">Label Name</th>
                <th style="text-align:left; border:1px solid;padding:8px;font-weight:bold;word-break: break-word;white-space: normal;">Formula</th>
                <th style="text-align:left; border:1px solid;padding:8px;font-weight:bold;">Range Formula</th>
                <th style="text-align:left; border:1px solid;padding:8px;font-weight:bold;">AValue</th>
                <th style="text-align:left; border:1px solid;padding:8px;font-weight:bold;">BValue</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (_AttributeHeader.DynamicFormSectionAttribute != null && _AttributeHeader.DynamicFormSectionAttribute.Count() > 0)
                {
                    var FormulaTextBoxData = _AttributeHeader.DynamicFormSectionAttribute.Where(w => w.FormulaTextBox != "").ToList();
                    string htmlData = string.Empty;
                    if (FormulaTextBoxData != null && FormulaTextBoxData.Count() > 0)
                    {
                        FormulaTextBoxData.ForEach(f =>
                        {
                            var colorCodeExitss = _AttributeHeader.DynamicFormSectionAttrFormulaFunctions.Where(w => w.DynamicFormSectionAttributeId == f.DynamicFormSectionAttributeId).FirstOrDefault();

                            string formatteds = string.Empty; string formatted = string.Empty;
                            if (colorCodeExitss != null)
                            {
                                if (colorCodeExitss.AValue > 0)
                                {
                                    decimal value = (decimal)colorCodeExitss.AValue;
                                    formatteds = value % 1 == 0 ? ((int)value).ToString() : value.ToString();
                                }
                                if (colorCodeExitss.BValue > 0)
                                {
                                    decimal value = (decimal)colorCodeExitss.BValue;
                                    formatted = value % 1 == 0 ? ((int)value).ToString() : value.ToString();
                                }
                            }
                            if (!string.IsNullOrEmpty(f.FormulaTextBox))
                            {
                                var encodedName = System.Net.WebUtility.HtmlEncode(colorCodeExitss?.FormulaFunctionName);
                                htmlData += "<tr><td style =\"border:1px solid;padding:8px;\">" + f.DisplayName + "</td>";
                                htmlData += "<td style =\"border:1px solid;padding:8px;word-break: break-word;white-space: normal;\">" + f.FormulaTextBox + "</td>";
                                htmlData += "<td style =\"border:1px solid;padding:8px;\">" + ((MarkupString)encodedName) + "</td>";
                                htmlData += "<td style =\"border:1px solid;padding:8px;\">" + formatteds + "</td>";
                                htmlData += "<td style =\"border:1px solid;padding:8px;\">" + formatted + "</td></tr>";

                            }
                            else
                            {
                                if (colorCodeExitss != null)
                                {
                                    var encodedName = System.Net.WebUtility.HtmlEncode(colorCodeExitss?.FormulaFunctionName);
                                    htmlData += "<tr><td style =\"border:1px solid;padding:8px;\">" + f.DisplayName + "</td>";
                                    htmlData += "<td style =\"border:1px solid;padding:8px;word-break: break-word;white-space: normal;\"></td>";
                                    htmlData += "<td style =\"border:1px solid;padding:8px;\">" + ((MarkupString)encodedName) + "</td>";
                                    htmlData += "<td style =\"border:1px solid;padding:8px;\">" + formatteds + "</td>";
                                    htmlData += "<td style =\"border:1px solid;padding:8px;\">" + formatted + "</td></tr>";
                                }
                            }
                        });
                    }

                    @((MarkupString)htmlData)
                }

            }
        </tbody>
    </table>
}

@code {
    private AttributeHeaderListModel _AttributeHeader { get; set; }
    public async Task loadData(AttributeHeaderListModel attributeHeaderListModel)
    {
        _AttributeHeader = attributeHeaderListModel;
        StateHasChanged();
    }
}
