@page "/dynamicMainForm"

@using System.Linq.Expressions
@using System.ComponentModel.DataAnnotations
@using global::Core.AttributeDynamicData;
@implements IDisposable
<h2>Edit Form</h2>

<div class="card cw-480">
    <EditForm Model="@Data"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              Context="EditFormContext">
        <DataAnnotationsValidator />
        <div class="card-header text-center py-3">
            <h4>Register with DevExpress</h4>
            <p class="tm-8 mb-0 fw-normal fs-825">
                Create a new account to see it in action
            </p>
        </div>
        <div class="card-body">
            @CreateEditFormFields()
        </div>
    </EditForm>
</div>
<p class="tm-8 cw-480 mt-2">
    @FormSubmitResult
</p>

@code {
    string FormSubmitResult = "";
    UserData Data { get; set; } = new UserData() { List = "Deutsch", Language = "Deutsch" };

    string PhoneMask { get; set; } = "(999)000-0000";

    void HandleValidSubmit()
    {
        FormSubmitResult = "You have been registred successully.";
    }
    void HandleInvalidSubmit()
    {
        FormSubmitResult = "Please correct all errors";
    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
    public RenderFragment CreateEditFormFields() => formLayoutBuilder =>
    {
        var propertyList = typeof(UserData).GetProperties();
        formLayoutBuilder.OpenComponent<DxFormLayout>(0);
        formLayoutBuilder.AddAttribute(1, "ChildContent", (RenderFragment)((layoutItemBuilder) =>
        {
            layoutItemBuilder.OpenComponent<DxFormLayoutGroup>(1);
            layoutItemBuilder.AddAttribute(1, "Caption", "Personal Information");
            //  layoutItemBuilder.OpenComponent<DxFormLayoutItem>(i++);
            layoutItemBuilder.AddAttribute(1, "ChildContent", (RenderFragment)((itemBuilder) =>
            {

                int i = 0;
                foreach (var property in propertyList)
                {
                    var attrList = (FieldTypeAttribute)property.GetCustomAttributes(typeof(FieldTypeAttribute), false).First();
                    DisplayAttribute displayLabel = (DisplayAttribute)property.GetCustomAttributes(typeof(DisplayAttribute), false).First();
                    itemBuilder.OpenComponent<DxFormLayoutItem>(i++);

                    itemBuilder.AddAttribute(i++, "Caption", displayLabel.Description);
                    itemBuilder.AddAttribute(i++, "ColSpanMd", 6);

                    var access = Expression.Property(Expression.Constant(Data), property.Name);
                    var lambda = Expression.Lambda(typeof(Func<>).MakeGenericType(property.PropertyType), access);
                    itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                    {
                        var j = 0;
                        switch (attrList.Type)
                        {
                            case FieldType.Text:
                                {
                                    editor.OpenComponent<DxTextBox>(j++);
                                    editor.AddAttribute(j++, "Text", property.GetValue(Data));
                                    editor.AddAttribute(j++, "TextExpression", lambda);
                                    editor.AddAttribute(j++, "TextChanged", EventCallback.Factory.Create<System.String>(this, str => { property.SetValue(Data, str); }));
                                    editor.CloseComponent();
                                    break;
                                }
                            case FieldType.Password:
                                {

                                    editor.OpenComponent<DxTextBox>(j++);
                                    editor.AddAttribute(j++, "Password", true);
                                    editor.AddAttribute(j++, "NullText", "Password");
                                    editor.AddAttribute(j++, "Text", property.GetValue(Data));
                                    editor.AddAttribute(j++, "TextExpression", lambda);
                                    editor.AddAttribute(j++, "TextChanged", EventCallback.Factory.Create<System.String>(this, str => { property.SetValue(Data, str); }));
                                    editor.CloseComponent();
                                    break;
                                }
                            case FieldType.PhoneNumber:
                                {
                                    editor.OpenComponent<DxMaskedInput<String>>(j++);
                                    editor.AddAttribute(j++, "Value", property.GetValue(Data));
                                    editor.AddAttribute(j++, "Mask", PhoneMask);
                                    editor.AddAttribute(j++, "ValueExpression", lambda);
                                    editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<System.String>(this, str => { property.SetValue(Data, str); }));
                                    editor.CloseComponent();
                                    break;
                                }
                            case FieldType.Date:
                                {
                                    editor.OpenComponent<DxDateEdit<DateTime>>(j);
                                    editor.AddAttribute(j++, "Date", property.GetValue(Data));
                                    editor.AddAttribute(j++, "DateExpression", lambda);
                                    editor.AddAttribute(j++, "DateChanged", EventCallback.Factory.Create<System.DateTime>(this, str => { property.SetValue(Data, str); }));
                                    editor.CloseComponent();
                                    break;

                                }
                            case FieldType.ComboBox:
                                {
                                    editor.OpenComponent<DxComboBox<String, String>>(j);
                                    editor.AddAttribute(j++, "Data", AdditionalData.Occupations);
                                    editor.AddAttribute(j++, "Value", property.GetValue(Data));
                                    editor.AddAttribute(j++, "ValueExpression", lambda);
                                    editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<System.String>(this, str => { property.SetValue(Data, str); }));
                                    editor.CloseComponent();
                                    break;
                                }
                            case FieldType.MultilineText:
                                {
                                    editor.OpenComponent<DxMemo>(j);
                                    editor.AddAttribute(j++, "Text", property.GetValue(Data));
                                    editor.AddAttribute(j++, "TextExpression", lambda);
                                    editor.AddAttribute(j++, "TextChanged", EventCallback.Factory.Create<System.String>(this, str => { property.SetValue(Data, str); }));
                                    editor.CloseComponent();
                                    break;
                                }
                            case FieldType.CheckBox:
                                {
                                    editor.OpenComponent<DxCheckBox<bool>>(j);
                                    editor.AddAttribute(j++, "Checked", property.GetValue(Data));
                                    editor.AddAttribute(j++, "CheckedExpression", lambda);
                                    editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<System.Boolean>(this, str => { property.SetValue(Data, str); }));
                                    editor.CloseComponent();
                                    break;

                                }

                            case FieldType.RadioGroup:
                                {
                                    IEnumerable<string> Languages = new[] { "English", "简体中文", "Español", "Français", "Deutsch" };
                                    editor.OpenComponent<DxRadioGroup<string, string>>(j);
                                    editor.AddAttribute(j++, "Items", Languages);
                                    editor.AddAttribute(j++, "Value", property.GetValue(Data));
                                    editor.AddAttribute(j++, "ValueExpression", lambda);
                                    editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<System.String>(this, str => { property.SetValue(Data, str); }));
                                    editor.CloseComponent();
                                    break;

                                }

                            case FieldType.List:
                                {
                                    IEnumerable<string> Languages = new[] { "English", "简体中文", "Español", "Français", "Deutsch" };
                                    List<string> ValueItems = new List<string>();
                                    editor.OpenComponent<DxListBox<string, string>>(j);
                                    editor.AddAttribute(j++, "Data", Languages);
                                    // editor.AddAttribute(j++, "TextFieldName", property.GetValue(Data));
                                    editor.AddAttribute(j++, "SelectionMode", ListBoxSelectionMode.Single);
                                    // editor.AddAttribute(j++, "ShowCheckboxes", true);
                                    editor.AddAttribute(j++, "Value", property.GetValue(Data));
                                    editor.AddAttribute(j++, "ValueExpression", lambda);
                                    editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<System.String>(this, str => { property.SetValue(Data, str); }));
                                    editor.CloseComponent();
                                    break;

                                }

                            // case FieldType.Grid:
                            //     {
                            //         // IEnumerable<string> Languages = new[] { "English", "简体中文", "Español", "Français", "Deutsch" };
                            //         editor.OpenComponent<DxDataGrid<UserData>>(j);
                            //         editor.AddAttribute(j++, "Data", UserEntry.UserDatas);
                            //         editor.AddAttribute(j++, "Value", property.GetValue(Data));
                            //         editor.AddAttribute(j++, "ValueExpression", lambda);
                            //         editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<UserData>(this, str => { property.SetValue(Data, str); }));
                            //         editor.CloseComponent();

                            //         break;

                            //     }
                            default:
                                break;
                        }
                    })));
                    itemBuilder.CloseComponent();
                    itemBuilder.OpenElement(i++, "div");
                    itemBuilder.AddAttribute(i++, "class", "text-danger");
                    itemBuilder.OpenComponent(i++, typeof(ValidationMessage<>).MakeGenericType(property.PropertyType));
                    itemBuilder.AddAttribute(i++, "For", lambda);
                    itemBuilder.CloseComponent();
                    itemBuilder.CloseElement();
                }
                itemBuilder.OpenComponent<DxFormLayoutItem>(i++);
                itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                {

                    editor.OpenComponent<DxButton>(i++);
                    editor.AddAttribute(i++, "SubmitFormOnClick", true);
                    editor.AddAttribute(i++, "Text", "Register");
                    editor.CloseComponent();
                })));

                itemBuilder.CloseComponent();
            }));
            layoutItemBuilder.CloseComponent();
        }));
        formLayoutBuilder.CloseComponent();
    };

}

