@page "/scrollbottom"
@inject IJSRuntime JSRuntime

<div style="height: 300px; overflow-y: scroll;" @ref="scrollContainer" @onclick="HandleScroll">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

    <!-- Add your content here -->
</div>

@code {
    private ElementReference scrollContainer;

    protected override async Task OnInitializedAsync()
    {
        await HandleScroll();
    }

    private async Task HandleScroll()
    {
        var isScrolledToBottom = await JSRuntime.InvokeAsync<bool>("scrollToBottom.isScrolledToBottom", scrollContainer);

        if (isScrolledToBottom)
        {
            // Your logic when reaching the bottom of the scroll container
            Console.WriteLine("Reached bottom!");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("scrollToBottom.initialize", scrollContainer);
        }
    }
}
