@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.EntityModels;
@page "/Permission"
<h3>Role Permision</h3>

@code {
    private List<AppPermissionModel> _appPermissionItems;
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _appPermissionItems = await Mediator.Send(new GetAllAppPermissionQuery());
    }
}
