<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Report_Connection" connectionString="XpoProvider=MSSqlServer;data source=portal.sunwardpharma.com;user id=crt;password=P@ssw0rd;initial catalog=SWUAT;Persist Security Info=true;TrustServerCertificate=True" />
        <add name="JsonConnection" connectionString="Uri=&quot;https://portal.sunwardpharma.com:8423/api/DynamicForm/GetDynamicFormDataList?DynamicFormSessionId=aa903eb8-d973-4607-9664-06d98ee79b27&quot;"
            providerName="JsonSourceProvider" />
    </connectionStrings>
</configuration>