<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Report_Connection" connectionString="XpoProvider=MSSqlServer;data source=portal.sunwardpharma.com;user id=crt;password=P@ssw0rd;initial catalog=SWUAT;Persist Security Info=true;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>