<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Report_Connection" connectionString="data source=LAPTOP-SIVA-123\SQLEXPRESS;Database=SWUAT;Trusted_Connection=True;Encrypt=False;TrustServerCertificate=True; MultipleActiveResultSets=true" />
    <add name="JsonConnection" connectionString="Uri=https://portal.sunwardpharma.com/hrmsuat/api/ProductionActivitys/GetActivityReportList"
      providerName="JsonSourceProvider" />
  </connectionStrings>
</configuration>