@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@implements IAsyncDisposable

<div class="menu-bar-content-container col-md-12">
    <div class="card w-100" style="margin-bottom:1px;">
        <div class="card-body p-0">

            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Auto">

                <Items>
                    <DxMenuItem Position="ItemPosition.End" title="Export to XLSX" IconCssClass="fa fa-file-excel" Click="ExportXlsx_Click" />
                </Items>
            </DxMenu>

        </div>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelAttibuteVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid3" Data="@_dynamicFormSectionAttributeData" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="DynamicFormSectionAttributeId"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            style="height: calc(100vh - 505px);"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Single"
            VirtualScrollingEnabled="true"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">


        <Columns>
            <DxGridDataColumn FieldName="DynamicFormSectionAttributeId" Visible="false" />
            <DxGridDataColumn FieldName="SectionName" Caption="Section Name" GroupIndex="0" MinWidth="40" />
            <DxGridDataColumn FieldName="DisplayName" Caption="Label Name" MinWidth="40" />
            <DxGridDataColumn FieldName="ControlType" Caption="Control Type" MinWidth="40">
                <CellDisplayTemplate>
                    @{
                        var item = (DynamicFormSectionAttribute)context.DataItem;
                        var Names = item.ControlType;
                    }
                    @Names
                </CellDisplayTemplate>
            </DxGridDataColumn>
            @if (IsFormula == true)
            {
                <DxGridDataColumn FieldName="FormulaTextBox" Caption="Formula Text" MinWidth="20" />
            }
            else
            {
                <DxGridDataColumn FieldName="DataSourceDisplayName" Caption="Data Source" MinWidth="40">
                    <CellDisplayTemplate>
                        @{
                            var item = (DynamicFormSectionAttribute)context.DataItem;
                            var DataSourceNames = item.DataSourceDisplayName;
                            if (item.ControlTypeId == 2712)
                            {
                                DataSourceNames = item.DynamicGridName;
                            }
                            if (item.DataSourceTable == "DynamicGrid")
                            {
                                DataSourceNames += " - " + item.DynamicGridName;
                            }
                            if (item.IsFilterDataSource == true)
                            {
                                DataSourceNames = "Is Filter - " + item.FilterDataSourceDisplayName;
                            }
                        }
                        @DataSourceNames
                    </CellDisplayTemplate>
                </DxGridDataColumn>

                <DxGridDataColumn FieldName="SortOrderBy" Caption="Sort By" MinWidth="40">
                </DxGridDataColumn>
                <DxGridDataColumn FieldName="IsVisible" Caption="Is Visible" MinWidth="20" />
                <DxGridDataColumn FieldName="IsMultiple" Caption="Is Multiple" MinWidth="80" />
                <DxGridDataColumn FieldName="IsRequired" Caption="Is Required" MinWidth="80" />
                <DxGridDataColumn FieldName="RequiredMessage" Caption="Required Msg" MinWidth="80" />
                <DxGridDataColumn FieldName="ColSpan" Caption="Col Span" MinWidth="20" />
                <DxGridDataColumn FieldName="IsDisplayTableHeader" Caption="Is Table Header" MinWidth="20" />
                <DxGridDataColumn FieldName="IsSetDefaultValue" Caption="Is Set Default Value" MinWidth="50" />
                <DxGridDataColumn FieldName="IsDefaultReadOnly" Caption="Is Default ReadOnly" MinWidth="50" />
                <DxGridDataColumn FieldName="IsSpinEditType" Caption="Spin Type" MinWidth="20" />
                <DxGridDataColumn FieldName="IsDisplayDropDownHeader" Caption="Is Dropdown Header" MinWidth="20" />
                <DxGridDataColumn FieldName="IsDependencyMultiple" Caption="Is Dropdown Multiple" MinWidth="20" />
                <DxGridDataColumn FieldName="RadioLayout" Caption="Radio Layout" MinWidth="20" />
                <DxGridDataColumn FieldName="FormToolTips" Caption="Tool Tips" MinWidth="20" />
            }
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="DisplayName" />
        </TotalSummary>

    </DxGrid>
</DxLoadingPanel>


@code {
    bool ExportSelectedRowsOnly { get; set; }
    [Parameter]
    public long? DynamicFormId { get; set; }
    [Parameter]
    public bool? IsFormula { get; set; } = false;
    bool PanelAttibuteVisible { get; set; }
    private List<DynamicFormSectionAttribute>? _dynamicFormSectionAttributeData;
    IGrid? Grid3 { get; set; }
    private DynamicFormSectionAttribute _selectedAttributeItems;
    public ApplicationUser? applicationUser { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");

        await UpdateDataAsync();
    }
    async Task ExportXlsx_Click()
    {
        await Grid3.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = ExportSelectedRowsOnly
            });
    }
    async Task UpdateDataAsync()
    {
        try
        {
            PanelAttibuteVisible = true;
            if (DynamicFormId > 0)
            {
                var result = await Mediator.Send(new GetDynamicFormSectionAttributeAll(DynamicFormId));

                if (result != null && result.Count > 0)
                {
                    if (IsFormula == true)
                    {
                        result = result.Where(w => w.FormulaTextBox != null && w.FormulaTextBox != "").ToList();
                    }
                    _dynamicFormSectionAttributeData = result;
                    _selectedAttributeItems = _dynamicFormSectionAttributeData.FirstOrDefault();
                }
            }
            PanelAttibuteVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DynamicFormSectionAttributeId");
        _selectedAttributeItems = _dynamicFormSectionAttributeData.FirstOrDefault(f => f.DynamicFormSectionAttributeId == (long?)UniqueId);

        StateHasChanged();

    }
    public async ValueTask DisposeAsync()
    {
    }
}
