@page "/"
@using AC.SD.Core.Configuration
@using AC.SD.Core.Shared;
@namespace AC.ShippingDocument.ServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject AC.SD.Core.Services.DemoThemeService Themes
@inject DemoConfiguration DemoConfiguration
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta data-dxmetadatamanager />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="@Url.Content("~/")" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <link href="https://printjs-4de6.kxcdn.com/print.min.css" />

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js";
        import { getMessaging, onMessage, getToken } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-messaging.js";


        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: 'AIzaSyCAR1sWopIrLQFKR2RVqzx5yVeV4-suHb4',
            authDomain: 'https://portal.sunwardpharma.com',
            projectId: 'novatonotify',
            storageBucket: 'novatonotify.appspot.com',
            messagingSenderId: '846072746431',
            appId: '1:846072746431:web:316a89ac0d8a2db739510a',
            measurementId: 'G-YF3RTTBL4Z'
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        //const analytics = getAnalytics(app);
        //console.log(app);

        // console.log(analytics);

        const messaging = getMessaging();
        //console.log(messaging);

        onMessage(messaging, (payload) => {  
            notificationTitle = payload.notification.title;
            notificationOptions = {
                body: payload.notification.body,
                icon: payload.notification.icon
            };

            var notification = new Notification(notificationTitle, notificationOptions);

        });
        Notification.requestPermission().then((permission) => {
            if (permission === 'granted') {
                //console.log('Notification permission granted.');
                // TODO(developer): Retrieve a registration token for use with FCM.
                // ...
            } else {
                console.log('Unable to get permission to notify.');
            }
        });

        getToken(messaging).then((currentToken) => {
            if (currentToken) {
                //console.log(currentToken);
                saveToken(currentToken);
            } else {
                // Show permission request UI
                console.log('No registration token available. Request permission to generate one.');
                // ...
            }
        }).catch((err) => {
            console.log('An error occurred while retrieving token. ', err);
            // ...
        });

        self.addEventListener('notificationclick', function (event) {
            event.notification.close();
            const url = event.notification.data.url;
            event.waitUntil(
                clients.openWindow(url)
            );
        });

         function saveToken(currentToken) {
            window.localStorage.setItem('PushToken',currentToken);
        }
    </script>   

    <meta property="og:url" content="https://dxpr.es/2WogLq7" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="For all the moments you want to cherish" />
    <link href="_content/AC.SD.Core/css/app.css" rel="stylesheet" />


    <link href="_content/DevExpress.Blazor.Dashboard/ace.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/ace-theme-dreamweaver.css" rel="stylesheet" />

    <link href="_content/DevExpress.Blazor.Dashboard/dx.light.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-analytics.common.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-analytics.light.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-querybuilder.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-dashboard.light.min.css" rel="stylesheet" />


   
    <link rel="stylesheet" href="_content/DevExpress.Blazor.Reporting.Viewer/css/dx-blazor-reporting-components.css"> 
    <meta property="og:description" content="Invested in continuous innovation and research for your quality assurance." />
    <meta property="og:image" content="_content/AC.SD.Core/images/login/SW-Logo.png" />  

    @{
        string InitialThemeName = HttpContextAccessor.HttpContext.Request.Cookies[AC.SD.Core.Services.DemoThemeService.ThemeCookieKey];
    }   

    <script  type="text/javascript">
        function showLoading()
        {
            $(".load-indicator").show();
        }

        function hideLoading() {
            setTimeout(function () { $(".load-indicator").fadeOut("slow"); }, 500);
        }
    </script>
    <environment include="ServerSide">
        <component type="typeof(DemoStylesheetContainer)" render-mode="Server" param-InitialThemeName="@InitialThemeName" />
        <script src="_framework/blazor.server.js"></script>
        <script src="_content/AC.SD.Core/common.js"></script>     
        <script src="_content/AC.SD.Core/js/scrollEvents.js"></script>
        <script src="_content/AC.SD.Core/js/todoList.js"></script>  
         <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    </environment> 
    
</head>
<body>
    
    <div class="load-indicator" style="display:none;"></div>
    <Toast />
    @{
        var isIEOrEdgeLegacy = Request.Headers["User-Agent"].Any(userAgent => userAgent.Contains("MSIE") || userAgent.Contains("Trident"));
    }
    @if(isIEOrEdgeLegacy) {
        <component type="typeof(BrowserNotSupported)" render-mode="Static" />
    } else {
       
         <script type="module">
            import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js'
        </script>
        <div id="app">
            <environment include="ServerSide">
                    <component type="typeof(AC.SD.Core.App)" render-mode="Server" />
            </environment>
            <environment include="Wasm.AspNetCoreHosted">
                <div id="applicationLoadingPanel" class="loading-items-center loading-font" style="height: 100vh; width: 100vw; background-color: #fff;">
                    <div class="loading-items-center" style="flex-direction: column">
                        <div class="loading position-relative loading-items-center" style="position: relative">
                            <div class="loading-border border-secondary" style="position: absolute; border-color: #d9d9d9; height: 100%; width: 100%; border-radius: 50%"></div>
                            <div class="spinner-border loading-boarder border-primary loading-border-primary" style="position: absolute; height: 100%; width: 100%; border-radius: 50%; border-left-color: transparent !important; border-right-color: transparent !important; border-bottom-color: transparent !important"></div>
                            <div id="loadingBackground" class="loading-image-wrapper text-white bg-primary loading-items-center" style="color: #fff; border-radius: 50%"></div>
                        </div>
                        <div class="loading-caption mt-3">DevExpress UI for Blazor</div>
                        <div class="loading-sm-text text-body mt-1" style="color: #a1a1a1">Loading...</div>
                    </div>
                </div>
            </environment>
        </div>
    }
    <script src="_content/Chronos.Blazor.Cropper/CropHelper.js"></script>
</body>

<script>
    window.triggerClick = (elt) => elt.click();
</script>
<script src="_content/BlazorBarcodeScanner.ZXing.JS/zxingjs.index.min.js"></script>
<script src="_content/BlazorBarcodeScanner.ZXing.JS/BlazorBarcodeScanner.js"></script>
</html>
