@page "/consumptionEntry"
@inject IJSRuntime jsRuntime
@using Application.Queries;
@using DevExpress.Export;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using MediatR


<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data..."
               >


  <DxGrid @ref="Grid" Data="@_consumptionEntry"  ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox" PageSizeSelectorVisible="true"
            @bind-SelectedDataItems="@SelectedDataItems"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20" CustomizeElement="Grid_CustomizeElement" style="height: calc(100vh - 220px);"
        CssClass="w-100" AutoExpandAllGroupRows="true"
        SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages" VirtualScrollingEnabled="true">
     <Columns>
            
            <DxGridDataColumn FieldName="ProdOrderNo" FixedPosition="GridColumnFixedPosition.Left" MinWidth="150" />
            <DxGridDataColumn FieldName="Description" MinWidth="250" />
            <DxGridDataColumn FieldName="SubLotNo" FixedPosition="GridColumnFixedPosition.Left" MinWidth="150" />
            <DxGridDataColumn FieldName="AddedDate" Width="180" />
        <DxGridDataColumn FieldName="AddedBy" MinWidth="200" />
    </Columns>
    <DetailRowTemplate>
        <ConsumptionsLines_Content consumptionEntry="(ViewConsumptionEntry)context.DataItem" />
    </DetailRowTemplate>
    </DxGrid>
</DxLoadingPanel>

@code{
    IReadOnlyList<object> SelectedDataItems { get; set; }
    bool PanelVisible { get; set; }
   private List<ViewConsumptionEntry> _consumptionEntry;
    IGrid Grid { get; set; }
   
   
    protected override async Task OnInitializedAsync()
    {
       // await jsRuntime.InvokeAsync<string>("showLoading");
        PanelVisible = true;
        var model = await Mediator.Send(new GetAllConsumptionEntry());
        _consumptionEntry = model;
        PanelVisible = false;
       // await jsRuntime.InvokeAsync<string>("hideLoading");
       // await UpdateDataAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
      
    }
    async Task ExportToExcel()

    {
        if (SelectedDataItems != null)
        {

            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = true,
                    CustomizeCell = OnCustomizeCell

                });
        }
        else
        {
            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = false,
                    CustomizeCell = OnCustomizeCell

                });
        }

    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;



    }
}
