@inject IJSRuntime jsRuntime
@page "/productionOutput"
@using Application.Queries;
@using DevExpress.Export;
@using MediatR;
@using global::Core.Entities.Views;
@inject IMediator Mediator

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data..."
               >
<DxGrid @ref="Grid" Data="@_productionOutput" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox" PageSizeSelectorVisible="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
        PageSizeSelectorAllRowsItemVisible="true"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        CustomizeElement="Grid_CustomizeElement"
            style="height: calc(100vh - 220px); width:1225px;"
        CssClass="ch-360" 
        AutoExpandAllGroupRows="true"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">
    <Columns>
        <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
        <DxGridDataColumn FieldName="OutputDate" Width="180px" />
            <DxGridDataColumn FieldName="Time" Width="180px" />
            <DxGridDataColumn FieldName="LocationName" Width="200px" />
            <DxGridDataColumn FieldName="ProductionOrderNo" Width="180px" Caption="ProductionOrder" />
            <DxGridDataColumn FieldName="ItemNo" Width="180px" />
            <DxGridDataColumn FieldName="Description" Width="300px" />
            <DxGridDataColumn FieldName="BatchNo" Width="180px" />
            <DxGridDataColumn FieldName="SubLotNo" Width="180px" />
            <DxGridDataColumn FieldName="DrumNo" Width="180px" />
            <DxGridDataColumn FieldName="GrossWeight" Width="180px" />
            <DxGridDataColumn FieldName="NetWeight" Width="180px" />
            <DxGridDataColumn FieldName="AddedBy" Caption="AddedBy" Width="180px" />
       
       @* <DxGridDataColumn FieldName="ProdTask" Caption="Task" />*@
    </Columns>
</DxGrid>
</DxLoadingPanel>
@code {
    IGrid Grid { get; set; }
   private List<ViewProductionOutput> _productionOutput;
    bool PanelVisible { get; set; }
    protected override async Task OnInitializedAsync()
    {

        PanelVisible = true;
        var model = await Mediator.Send(new GetAllProductionOutputQuery());
        _productionOutput = model;
        PanelVisible = false;
       
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    async Task ExportToExcel()

    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,

                CustomizeCell = OnCustomizeCell
            });


    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;



    }

}
