@inject IJSRuntime jsRuntime
@page "/productionEntry"
@using Application.Queries;
@using global::Core.Entities;
@using global::Core.Entities.Views;

@inject IMediator Mediator
@using MediatR

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Preview" IconCssClass="dxbl-btn fa fa-eye" Click="@onPreview" />
               
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="Grid" Data="@_productionEntry" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox" PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        style="height: calc(100vh - 220px);"
        CssClass="ch-360" 
        AutoExpandAllGroupRows="true"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">
    <Columns>
        <DxGridDataColumn FieldName="LocationName" />
        <DxGridDataColumn FieldName="ProductionOrderNo" />
        <DxGridDataColumn FieldName="Deascription" />
        <DxGridDataColumn FieldName="BatchNo" />
        <DxGridDataColumn FieldName="StartDate" />
        <DxGridDataColumn FieldName="ActualStartDate" />
        <DxGridDataColumn FieldName="AddedBy" Caption="AddedBy" />
    </Columns>
</DxGrid>
@code {
    IGrid Grid { get; set; }
    private List<ViewProductionEntry> _productionEntry;

    protected override async Task OnInitializedAsync()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");

        var model = await Mediator.Send(new GetAllProductionEntryQuery());
        _productionEntry = model;
        await jsRuntime.InvokeAsync<string>("hideLoading");
        // await UpdateDataAsync();
    }
    void onPreview()
    {
        
    }
}
