@inject IJSRuntime jsRuntime
@page "/productionOutput"
@using Application.Queries;
@using DevExpress.Export;
@using MediatR;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@implements IAsyncDisposable

<style>
    .dxbl-loading-panel {
        display: initial !important;
    }
</style>
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data..."
               >
<DxGrid @ref="Grid" Data="@_productionOutput" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox" PageSizeSelectorVisible="true"
            @bind-SelectedDataItems="@SelectedDataItems"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
        PageSizeSelectorAllRowsItemVisible="true"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        CustomizeElement="Grid_CustomizeElement"
            style="height: calc(100vh - 220px);"
        CssClass="w-100" 
        AutoExpandAllGroupRows="true"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            TextWrapEnabled="false" VirtualScrollingEnabled="true">
    <Columns>
            <DxGridSelectionColumn Width="60" FixedPosition="GridColumnFixedPosition.Left" AllowSelectAll="true" />
        <DxGridDataColumn FieldName="OutputDate" Width="180px" />
            <DxGridDataColumn FieldName="Time" MinWidth="180" />
            <DxGridDataColumn FieldName="LocationName" MinWidth="200" />
            <DxGridDataColumn FieldName="ProductionOrderNo" FixedPosition="GridColumnFixedPosition.Left" Width="220" Caption="ProductionOrder" />
            <DxGridDataColumn FieldName="ItemNo" FixedPosition="GridColumnFixedPosition.Left" Width="180px" />
            <DxGridDataColumn FieldName="Description" MinWidth="300" />
            <DxGridDataColumn FieldName="BatchNo" MinWidth="180" />
            <DxGridDataColumn FieldName="SubLotNo" MinWidth="180" />
            <DxGridDataColumn FieldName="DrumNo" MinWidth="180" />
            <DxGridDataColumn FieldName="GrossWeight" Width="180px" />
            <DxGridDataColumn FieldName="NetWeight" Width="180px" />
            <DxGridDataColumn FieldName="AddedBy" Caption="AddedBy" Width="180px" />
       
       @* <DxGridDataColumn FieldName="ProdTask" Caption="Task" />*@
    </Columns>
</DxGrid>
</DxLoadingPanel>
@code {
    IReadOnlyList<object> SelectedDataItems { get; set; }
    IGrid Grid { get; set; }
   private List<ViewProductionOutput> _productionOutput;
    bool PanelVisible { get; set; }
    protected override async Task OnInitializedAsync()
    {

        PanelVisible = true;
        var model = await Mediator.Send(new GetAllProductionOutputQuery());
        _productionOutput = model;
        PanelVisible = false;
       
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        //if (e.ElementType == GridElementType.HeaderCell)
        //{
        //    e.Style = "background-color: rgba(0, 0, 0, 0.08)";
        //    e.CssClass = "header-bold";
        //}
    }
    async Task ExportToExcel()

    {
        if (SelectedDataItems != null)
        {

            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = true,
                    CustomizeCell = OnCustomizeCell

                });
        }
        else
        {
            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = false,
                    CustomizeCell = OnCustomizeCell

                });
        }
    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;



    }
    public async ValueTask DisposeAsync()
    {
        if (_productionOutput != null)
        {
            _productionOutput.Clear();
            _productionOutput = null;
        }

        SelectedDataItems = null;

    }
}
