@page "/fileProfileTypeTreeView"
@using Application.Queries;
@using global::Core.Entities;
@using MediatR
@inject IMediator Mediator


<link href="_content/AC.SD.Core/css/forum-mail.css" rel="stylesheet" />


<div class="">
    <div class="main-container">
        <!--  -->
        <!-- Main Content -->
        <!--  -->
        <div class="content-container row">
            <!-- Side Bar -->
            @* <div class="side-menu-bar">

            <div class="side-menu-bar-top">
            <div class="side-menu-bar-text circle">RN</div>
            <div class="side-menu-bar-text circle">IPIR</div>
            <div class="side-menu-bar-text circle">PA</div>
            <div class="side-menu-bar-text circle">CS</div>
            <div class="side-menu-bar-text circle">GL</div>
            </div>

            </div>*@
            <!-- Mini Menu Bar -->
            <div class="mini-menu-bar col-md-3">
                <div class="mini-menu-bar-top">
                    <div class="mini-menu-bar-heading">
                        <div class="files-title">General Information</div>
                    </div> 
                    <div>
                        <div class="views-accordion">
                            <DxTreeView Data="@_fileprofile"
                                        @bind-FilterString="FilterString"
                                        FilterMinLength="2"
                                        ShowFilterPanel="true"
                                        FilterMode="FilterMode"
                                        AllowSelectNodes=true
                           
                                      AnimationType="LayoutAnimationType.Slide">
                                <DataMappings>
                                  
                                    
                                <DxTreeViewDataMapping Text="Name"
                                                       Key="FileProfileTypeID"
                                                           AllowCheck="AllowCheck"
                                                           ParentKey="ParentID" Name="FileProfileTypeID"
                                                           Checked="Checked" />
                           
                                </DataMappings>
                            </DxTreeView>
                        </div>
                    </div>
                </div>
                @*<div class="mini-menu-bar-down">
                <div class="add-cloud-storage-btn">
                <div class="cloud-storage-btn">
                <div class="add-btn-text">Add cloud storage</div>
                </div>
                </div>
                </div>*@
            </div>
            </div>
            </div>
            </div>
            @code {
                private List<fileprofiletype>? _TreeView;
                private List<fileprofiletype>_fileprofile { get; set; }
                string FilterString { get; set; }
                string SelectedGroup = "none";
                NavigationFilterMode FilterMode { get; set; } = NavigationFilterMode.EntireBranch;

               protected override async Task OnInitializedAsync()
                  {
       
                     _fileprofile = await Mediator.Send(new GetAllfileprofiletypeQuery());
                    
                   }
                private async Task SelectionChanged(TreeViewNodeEventArgs e)
                {
                    SelectedGroup = e.NodeInfo?.Name;
                    //_discussionList = await Mediator.Send(new GetDiscussionList(long.Parse(@SelectedGroup)));
                    if (SelectedGroup != "0")
                    {
                        await LoadData();
                    }

                }
                private async Task LoadData()
                {
                    
                }

            }
