@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@page "/MyDay"


<div class="">
    <DxFormLayout CssClass="w-100">
        <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveTabIndex">
            <div>
                <DxFormLayoutTabPage Caption="ToDo">
                    <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none">
                        <MyDayNew></MyDayNew>
                    </div>
                </DxFormLayoutTabPage>

                <DxFormLayoutTabPage Caption="Email">
                    <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none">
                        <EmailDueDate></EmailDueDate>
                    </div>
                </DxFormLayoutTabPage>

            </div>
        </DxFormLayoutTabPages>
    </DxFormLayout>
</div>
@*<div class="">
    <div class="main-container">
        <div class="content-container row">
            <div class="@leftTodoDisplay" style="@styleTreeDisplay overflow-x: hidden;">
                <div class="mini-menu-bar-top">                    
                    <MyDayNew></MyDayNew>
                </div>
            </div>
            <div class="@RighttodoDisplay">
                <EmailDueDate></EmailDueDate>                
            </div>
        </div>
    </div>
</div>*@
@code {
    int ActiveTabIndex { get; set; } = 0;
    private MyRemainderTodo? RefMyRemainderTodo { get; set; }
    public ApplicationUser? applicationUser { get; private set; }
    private List<ToDoNotesHistory>? _ToDoNotesHistory;
    string leftTodoDisplay = "col-md-6";
    string RighttodoDisplay = "col-md-6";
    string styleTreeDisplay = "height: calc(100vh - 190px); padding:10px";
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
    }
    public async void ReloadGrid()
    {
        RefMyRemainderTodo.Reloadtodo();
        // _ToDoNotesHistory = await Mediator.Send(new GetMyToDoRemainderDate(applicationUser.UserID));
    }

}
