@import "../base/base.scss";
@import "../buttons/button.scss";

//Layout Variables Start
//Mouse Mode Start
$toast-icon-nrml-height: 20px !default;
$toast-icon-nrml-width: 20px !default;
$toast-icon-nrml-size: $text-base !default;
$toast-icon-nrml-right-margin: 12px !default;
$toast-close-icon-nrml-height: 20px !default;
$toast-close-icon-nrml-width: 20px !default;
$toast-close-icon-nrml-size: $text-base !default;
$toast-position-nrml-distance: 10px !default;
$multitoast-nrml-gap-distance: 10px !default;
$toast-nrml-min-height: 48px !default;
$toast-nrml-padding: 18px !default;
$toast-action-btn-nrml-padding: 8px 0 0 8px !default;
$toast-action-btn-nrml-margin: 10px !default;
$toast-progressbar-nrml-height: 4px !default;
$toast-content-nrml-padding: 8px 0 !default;
$toast-nrml-border-radious: 6px !default;
$toast-font-nrml-size: $text-sm !default;
$toast-title-font-nrml-size: $text-sm !default;

//Mouse Mode End

//Touch Mode Start
$toast-icon-bgr-height: 24px !default;
$toast-icon-bgr-width: 24px !default;
$toast-icon-bgr-size: 18px !default;
$toast-icon-bgr-right-margin: 16px !default;
$toast-close-icon-bgr-height: 24px !default;
$toast-close-icon-bgr-width: 24px !default;
$toast-close-icon-bgr-size: $text-base !default;
$toast-position-bgr-distance: 10px !default;
$multitoast-bgr-gap-distance: 10px !default;
$toast-bgr-min-height: 48px !default;
$toast-action-btn-bgr-padding: 12px 0 0 12px !default;
$toast-action-btn-bgr-margin: 10px !default;
$toast-progressbar-bgr-height: 4px !default;
$toast-content-bgr-padding: 12px 0 !default;
$toast-bgr-border-radious: 6px !default;
$toast-font-bgr-size: $text-sm !default;
$toast-title-font-weight: $font-weight-bold !default;

//Touch Mode End
//Layout Variables End

//Theme Variables Start
$toast-border: 1px solid $border-light !default;
$toast-box-shadow: $shadow !default;
$toast-hover-box-shadow: $shadow !default;
$toast-progress-color: $primary !default;
$toast-bg-color: $msg-bg-color !default;
$toast-hover-bg-color: $msg-bg-color !default;
$toast-active-bg-color: $msg-bg-color !default;
$toast-font-color: $msg-color !default;
$toast-icon-color: $msg-icon-color !default;
$toast-close-icon-color: $msg-close-icon-color !default;
$toast-title-color: $content-text-color !default;
$toast-content-color: $content-text-color-alt2 !default;

// Toast Type Definitions Start
$toast-success-bg-color: $success-light-alt !default;
$toast-success-color: $msg-success-color !default;
$toast-success-title-color: $msg-success-color !default;
$toast-success-icon-color: $msg-success-icon-color !default;
$toast-success-content-color: $msg-success-color !default;
$toast-success-hover-bg-color: $msg-success-bg-color !default;
$toast-success-hover-color: $msg-success-color !default;
$toast-success-hover-box-shadow: $shadow !default;

$toast-info-bg-color: $info-light-alt !default;
$toast-info-color: $msg-info-color !default;
$toast-info-title-color: $msg-info-color !default;
$toast-info-icon-color: $msg-info-icon-color !default;
$toast-info-content-color: $msg-info-color !default;
$toast-info-hover-bg-color: $msg-info-bg-color !default;
$toast-info-hover-color:  $msg-info-color !default;
$toast-info-hover-box-shadow: $shadow !default;

$toast-warning-bg-color: $warning-light-alt !default;
$toast-warning-color: $msg-warning-color !default;
$toast-warning-title-color: $msg-warning-color !default;
$toast-warning-icon-color: $msg-warning-icon-color !default;
$toast-warning-content-color: $msg-warning-color !default;
$toast-warning-hover-bg-color: $msg-warning-bg-color !default;
$toast-warning-hover-color: $msg-warning-color !default;
$toast-warning-hover-box-shadow: $shadow !default;

$toast-danger-bg-color: $danger-light-alt !default;
$toast-danger-color: $msg-danger-color !default;
$toast-danger-title-color: $msg-danger-color !default;
$toast-danger-icon-color: $msg-danger-icon-color !default;
$toast-danger-content-color: $msg-danger-color !default;
$toast-danger-hover-bg-color: $msg-danger-bg-color !default;
$toast-danger-hover-color: $msg-danger-color !default;
$toast-danger-hover-box-shadow: $shadow !default;

$toast-close-icon-hover-bg-color: $transparent !default;
$toast-close-icon-hover-color: $icon-color !default;

// Toast Type Definitions End
//icon Variable
$toast-close-icon: '\e7e7' !default;
$toast-success-icon: '\e701' !default;
$toast-error-icon: '\e700' !default;
$toast-info-icon: '\\e704' !default;
$toast-warning-icon: '\e703' !default;

//Theme Variables End

@include export-module('toast-layout') {
  /* stylelint-disable property-no-vendor-prefix */
  .e-toast-container {
    display: inline-flex;
    flex-direction: column;
    position: relative;

    &.e-toast-top-left {
      left: $toast-position-nrml-distance;
      top: $toast-position-nrml-distance;
    }

    &.e-toast-bottom-left {
      bottom: $toast-position-nrml-distance;
      left: $toast-position-nrml-distance;
    }

    &.e-toast-top-right {
      right: $toast-position-nrml-distance;
      top: $toast-position-nrml-distance;
    }

    &.e-toast-bottom-right {
      bottom: $toast-position-nrml-distance;
      right: $toast-position-nrml-distance;
    }

    &.e-toast-bottom-center {
      bottom: $toast-position-nrml-distance;
      pointer-events: none;
      right: 0;
      width: 100%;

      .e-toast {
        margin: 0 auto $multitoast-nrml-gap-distance;
        pointer-events: auto;
      }
    }

    &.e-toast-top-center {
      pointer-events: none;
      right: 0;
      top: $toast-position-nrml-distance;
      width: 100%;

      .e-toast {
        margin: 0 auto $multitoast-nrml-gap-distance;
        pointer-events: auto;
      }
    }

    &.e-toast-full-width {
      left: 0;
      right: 0;
      width: 100%;

      .e-toast {
        margin: 0 auto $multitoast-nrml-gap-distance;
        width: 96%;
      }
    }

    &.e-rtl {
      .e-toast {
        .e-toast-actions {
          text-align: left;

          > * {
            margin-left: initial;
            margin-right: $toast-action-btn-nrml-margin;
          }
        }

        .e-toast-close-icon {
          margin-left: initial;
          margin-right: auto;
        }

        .e-toast-icon {
          margin-left: $toast-icon-nrml-right-margin;
          margin-right: initial;
        }

        .e-toast-progress {
          left: auto;
          right: 0;
        }
      }
    }

    .e-toast {
      border-radius: $toast-nrml-border-radious;
      display: inline-flex;
      font-size: $toast-font-nrml-size;
      margin: 0 0 $multitoast-nrml-gap-distance;
      overflow: hidden;
      padding: $toast-nrml-padding;
      position: relative;

      .e-toast-icon,
      .e-toast-message {
        display: inline-flex;
      }

      > * {
        word-break: break-word;
        word-wrap: break-word;
      }

      .e-toast-message {
        align-self: center;
        flex-direction: column;
        overflow: hidden;
        width: inherit;
        @if $skin-name == 'material' or $skin-name == 'Material3' {
          flex: 1;
        }

        .e-toast-title,
        .e-toast-content {
          overflow: hidden;
          text-overflow: ellipsis;

          &:first-child {
            padding: 0;
            @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
              padding-bottom: 12px;
              padding-left: 12px;
              padding-right: 12px;
              padding-top: 12px;
            }
          }

          &:last-child {
            padding-bottom: 0;
            @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
              padding-bottom: 12px;
            }
          }

          > * {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .e-toast-title {
          font-size: $toast-title-font-nrml-size;
          font-weight: $toast-title-font-weight;
          letter-spacing: .5px;
          @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
            border-bottom: 1px solid $border;
          }
        }

        .e-toast-content {
          padding: $toast-content-nrml-padding;
          word-break: break-word;
          word-wrap: break-word;

          + .e-toast-actions {
            padding-top: 0;
            @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
              padding: $toast-action-btn-bgr-padding;
            }
          }
        }

        .e-toast-actions {
          @if $skin-name == 'highcontrast' {
            margin: 1px 0 0 3px;
          }
          @else {
            margin: 1px;
          }
          @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
            border-top: 1px solid $border;
            margin-left: 12px;
            margin-right: 12px;
          }
          @if $skin-name != 'tailwind3' {
            padding: $toast-action-btn-nrml-padding;
          }
          text-align: right;

          > * {
            margin-left: $toast-action-btn-nrml-margin;
          }
        }
      }

      &.e-toast-header-icon {
        .e-toast-message {
          .e-toast-title,
          .e-toast-content {
            &:first-child {
              @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
                padding-left: 48px;
              }
            }
          }
        }
      }

      &.e-toast-header-close-icon {
        .e-toast-message {
          .e-toast-title,
          .e-toast-content {
            &:first-child {
              @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
                padding-right: 30px;
              }
            }
          }
        }
      }

      .e-toast-close-icon {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: $toast-close-icon-nrml-size;
        height: $toast-close-icon-nrml-height;
        justify-content: center;
        margin-left: auto;
        width: $toast-close-icon-nrml-width;
        @if $skin-name == 'material' {
          opacity: .7;
        }
        @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
          margin-top: 13px;
          position: absolute;
          right: 8px;
        }
      }

      .e-toast-icon {
        align-items: center;
        font-size: $toast-icon-nrml-size;
        height: $toast-icon-nrml-height;
        justify-content: center;
        margin-right: $toast-icon-nrml-right-margin;
        width: $toast-icon-nrml-width;
        @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
          left: 16px;
          margin-left: 13px;
          margin-top: 13px;
        }
      }

      .e-toast-progress {
        bottom: 0;
        height: $toast-progressbar-nrml-height;
        left: 0;
        position: absolute;
      }
    }
  }

  .e-content-placeholder.e-toast.e-placeholder-toast {
    background-size: 400px 100px;
    min-height: 100px;
  }

  .e-blazor-toast-hidden {
    visibility: hidden;
  }

  .e-toast-container .e-toast .e-toast-close-icon.blazor-toast-close-icon {
    background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
    bottom: 6px;
    height: 20px;
    position: relative;
    width: 22px;
  }
}


.e-toast-container {
  .e-toast {
    background-color: $toast-bg-color;
    border: $toast-border;
    box-shadow: $toast-box-shadow;
    color: $toast-font-color;

    .e-toast-close-icon {
      color: $toast-close-icon-color;

      &.e-blazor-toast-close-icon,
      &.e-blazor-toast-close-icon:focus,
      &.e-blazor-toast-close-icon:active {
        @if $skin-name == 'Material3' {
          background: transparent;
        }
        @else {
          background-color: transparent;
        }
        border: 0;
        box-shadow: none;
        outline: 0;
      }

      &.e-blazor-toast-close-icon:focus,
      &.e-blazor-toast-close-icon:hover {
        @if $skin-name == 'Material3' {
          background: $toast-close-icon-hover-bg-color;
        }
        @else {
          background-color: $toast-close-icon-hover-bg-color;
        }
        color: $toast-close-icon-hover-color;
      }
    }
    
    .e-toast-close-icon.e-icons:hover,
    .e-toast-close-icon.e-icons:focus{
      @if $skin-name == 'Material3' {
        background: $toast-close-icon-hover-bg-color;
        border-radius: $toast-icon-hover-border-radius;
        height: 32px;
      }
      @else {
        background-color: $toast-close-icon-hover-bg-color;
      }
      @if $skin-name == 'material' {
        border-radius: $toast-icon-hover-border-radius;
      }
      color: $toast-close-icon-hover-color;
    }

    &.e-toast-success {
      background-color: $toast-success-bg-color;
      color: $toast-success-color;

      @if $skin-name == 'highcontrast' or $skin-name == 'bootstrap' or $skin-name == 'bootstrap4' {
        border-color: $toast-success-border-color;
      }

      .e-toast-message .e-toast-title {
        color: $toast-success-title-color;
        @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
          border-color: $toast-success-title-border-color;
        }
      }

      .e-toast-message .e-toast-content {
        color: $toast-success-content-color;
      }

      .e-toast-icon {
        color: $toast-success-icon-color;
      }

      .e-toast-close-icon {
        color: $toast-success-icon-color;
      }

      &:hover {
        background-color: $toast-success-hover-bg-color;
        box-shadow: $toast-success-hover-box-shadow;
        color: $toast-success-hover-color;

        @if $skin-name == 'highcontrast' or $skin-name == 'bootstrap' or $skin-name == 'bootstrap4' {
          border-color: $toast-success-hover-border-color;
        }
      }
    }

    &.e-toast-info {
      background-color: $toast-info-bg-color;
      color: $toast-info-color;

      @if $skin-name == 'highcontrast' or $skin-name == 'bootstrap' or $skin-name == 'bootstrap4' {
        border-color: $toast-info-border-color;
      }

      .e-toast-message .e-toast-title {
        color: $toast-info-title-color;
        @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
          border-color: $toast-info-title-border-color;
        }
      }

      .e-toast-message .e-toast-content {
        color: $toast-info-content-color;
      }

      .e-toast-icon {
        color: $toast-info-icon-color;
      }

      .e-toast-close-icon {
        color: $toast-info-icon-color;
      }

      &:hover {
        background-color: $toast-info-hover-bg-color;
        box-shadow: $toast-info-hover-box-shadow;
        color: $toast-info-hover-color;

        @if $skin-name == 'highcontrast' or $skin-name == 'bootstrap' or $skin-name == 'bootstrap4' {
          border-color: $toast-info-hover-border-color;
        }
      }
    }

    &.e-toast-warning {
      background-color: $toast-warning-bg-color;
      color: $toast-warning-color;

      @if $skin-name == 'highcontrast' or $skin-name == 'bootstrap' or $skin-name == 'bootstrap4' {
        border-color: $toast-warning-border-color;
      }

      .e-toast-message .e-toast-title {
        color: $toast-warning-title-color;
        @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
          border-color: $toast-warning-title-border-color;
        }
      }

      .e-toast-message .e-toast-content {
        color: $toast-warning-content-color;
      }

      .e-toast-icon {
        color: $toast-warning-icon-color;
      }

      .e-toast-close-icon {
        color: $toast-warning-icon-color;
      }

      &:hover {
        background-color: $toast-warning-hover-bg-color;
        box-shadow: $toast-warning-hover-box-shadow;
        color: $toast-warning-hover-color;

        @if $skin-name == 'highcontrast' or $skin-name == 'bootstrap' or $skin-name == 'bootstrap4' {
          border-color: $toast-warning-hover-border-color;
        }
      }
    }

    &.e-toast-danger {
      background-color: $toast-danger-bg-color;
      color: $toast-danger-color;

      @if $skin-name == 'highcontrast' {
        border-color: $toast-danger-border-color;
      }

      .e-toast-message .e-toast-title {
        color: $toast-danger-title-color;
        @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' {
          border-color: $toast-danger-title-border-color;
        }
      }

      .e-toast-message .e-toast-content {
        color: $toast-danger-content-color;
      }

      .e-toast-icon {
        color: $toast-danger-icon-color;
      }

      .e-toast-close-icon {
        color: $toast-danger-icon-color;
      }

      &:hover {
        background-color: $toast-danger-hover-bg-color;
        box-shadow: $toast-danger-hover-box-shadow;
        color: $toast-danger-hover-color;

        @if $skin-name == 'highcontrast' or $skin-name == 'bootstrap' or $skin-name == 'bootstrap4' {
          border-color: $toast-danger-hover-border-color;
        }
      }
    }

    &:hover {
      background-color: $toast-hover-bg-color;
      box-shadow: $toast-hover-box-shadow;

      @if $skin-name == 'highcontrast' {
        border-color: $toast-hover-border-color;
      }
    }

    .e-toast-icon {
      color: $toast-icon-color;
    }

    .e-toast-message {
      .e-toast-title {
        color: $toast-title-color;
      }

      .e-toast-content {
        color: $toast-content-color;
      }
    }

    .e-toast-progress {
      background-color: $toast-progress-color;
    }

    @if $skin-name == 'material' {
      .e-toast-actions {
        .e-btn {
          background-color: $toast-btn-flat-bgcolor;
          border-color: $toast-btn-flat-border-color;
          box-shadow: $toast-btn-flat-box-shadow;
          color: $toast-btn-flat-color;

          &:hover {
            background-color: $toast-btn-flat-hover-bgcolor;
            color: $toast-btn-flat-hover-color;
          }

          &:focus {
            background-color: $toast-btn-flat-focus-bgcolor;
            color: $toast-btn-flat-focus-color;
          }

          &:active {
            background-color: $toast-btn-flat-active-bgcolor;
            color: $toast-btn-flat-active-color;
          }
        }
      }
    }
  }
}


@include export-module('toast-material-icons') {
  .e-toast {
    .e-toast-close-icon::before {
      content: $toast-close-icon;
      font-family: 'e-icons';
    }
  
    .e-toast-success-icon::before {
      content: $toast-success-icon;
      font-family: 'e-icons';
    }
  
    .e-toast-error-icon::before {
      content: $toast-error-icon;
      font-family: 'e-icons';
    }
  
    .e-toast-info-icon::before {
      content: $toast-info-icon;
      font-family: 'e-icons';
    }
  
    .e-toast-warning-icon::before {
      content: $toast-warning-icon;
      font-family: 'e-icons';
    }
  }
}

