
.limiter {
    width: 100%;
    height: 100vh;
}
.container-login {
    width: 100%;
    height: 100%;
    //background: #9053c7;
    background: #dbdbdb;
    /*background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);*/
}
.wrap-login {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.top-login
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.bottom-login {
    height: calc(100% - 80%);
    width: 100%;
}



.bottom-login a
{
    font-size: 14px;
    line-height: 1.7;
    color: $grey;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    text-decoration: none;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: $accent;
}



.title-login {
    // font-family: Montserrat-Bold;
    font-size: 24px;
    //color: $grey;
    line-height: 1.2;
    //padding-bottom: 20px;
}

.btn-login {
    width: 50%;
    /*height: 56px;*/
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    background: #075e54 !important;
    float: right;
}
.q-btn:hover
{
    background-color: $accent;
}



.display-center {
    display: flex;
    align-items: center;
    justify-content: center;
    /*justify-content: center;
  align-items: center;*/
}

.login-pic img
{
    max-width: 100%;
    height: 100%;
}

@media(min-width:1024px)
{

    .login-pic {
        width: 100%;
        height: 100%;
    }

    .top-left-login,
    .top-right-login {
        //width: calc(100% - 10%);
        width: 80%;
    }

    .top-right-login {
        width: 35%;
    }

    .width-form-login {
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 1023px) {
    .wrap-login {
        width: calc(100% - 38%);
        height: calc(100% - 15%);
    }

    .top-left-login {
        display: none;
    }

    .top-right-login {
        width: 100%;
    }

    .login-pic {
        width: 16%;
    }

    .width-form-login {
        width: 97%;
        padding: 20px;
    }
}

@media (max-width: 599px) {
    .wrap-login {
        width: calc(100% - 8%);
        height: calc(100% - 24%);
    }

    .top-left-login {
        display: none;
    }

    .top-right-login {
        width: 100%;
    }

    .login-pic {
        width: 16%;
    }

    .width-form-login {
        width: 97%;
        padding: 20px;
    }
}