
.container {
    width: 75%;
    max-width: 700px;
   /* margin: 1.5rem auto;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.compcontainer svg {
    max-width: 100%;
    max-height: 100%;
    animation: bouncy 1300ms linear infinite;
}
.content {
    background: #fff1f1;
}
.content-footer {
    background: #fff1f1;
}
.demo-content-container {
    background: #fff1f1;
}

@keyframes bouncy {
    0% {
        transform: translateY(10px) translateX(0) rotate(0);
    }

    25% {
        transform: translateX(-10px) rotate(-10deg);
    }

    50% {
        transform: translateX(0) rotate(0deg);
    }

    75% {
        transform: translateX(10px) rotate(10deg);
    }

    100% {
        transform: translateY(10px) translateX(0) rotate(0);
    }
}

.compcontainer {
    width: 75%;
    height: 13rem;
    padding: 1rem 0;
}

.container .header {
    color: #fb3958;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 5px #b1041f;
}

.instructions {
    background: #FEFEFE;
    width: 80%;
    height: auto;
    padding: 1rem;
    border: 1px solid #DCDCDC;
    border-radius: 0.25rem;
}

    .instructions h2 {
        font-size: 1.25em;
        line-height: 1.3;
        color: #e30528;
    }

    .instructions .step {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 1.5rem;
        margin: 0.5rem 0;
    }

        .instructions .step p {
            display: inline-block;
            width: 80%;
            line-height: 1.5;
            padding-left: 0.5rem;
        }
