@import "../base/base.scss";

// Avatar Base
$avatar-base-border-radius: 4px !default;
$avatar-base-background-color: $content-bg-color-alt3 !default;
$avatar-base-font-size: $text-sm !default;
$avatar-base-width: 40px !default;
$avatar-base-height: 40px !default;
$avatar-base-line-height: 22px !default;
$avatar-base-text-color: $content-text-color-alt2 !default;
$avatar-base-font-weight: $font-weight-normal !default;
$avatar-base-img-height: 100% !default;

// Circle Avatar
$avatar-circle-border-radius: 50% !default;

// Avatar size
$avatar-xsmall-font-size: $text-sm !default;
$avatar-small-font-size: $text-base !default;
$avatar-large-font-size: $text-xl !default;
$avatar-xlarge-font-size: 22px !default;

// Avatar Line Height
$avatar-base-xsmall-line-height: 16px !default;
$avatar-base-small-line-height: 18px !default;
$avatar-base-large-line-height: 28px !default;
$avatar-base-xlarge-line-height: 28px !default;

//border
$avatar-border: $dialog-border !default;

@mixin avatar-size($height, $width, $line-height) {
  height: $height;
  width: $width;
  line-height: $line-height;
}

@include export-module('avatar-layout') {
  .e-avatar {
    align-content: center;
    align-items: center;
    background-color: $avatar-base-background-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $avatar-base-border-radius;
    color: $avatar-base-text-color;
    display: inline-flex;
    font-family: $font-family;
    font-size: $avatar-base-font-size;
    font-weight: $avatar-base-font-weight;
    height: $avatar-base-height;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: $avatar-base-width;
    @if ($skin-name == 'tailwind3' or $skin-name == 'tailwind' or $skin-name == 'tailwind-dark' or $skin-name == 'bootstrap5' or $skin-name == 'FluentUI' or $skin-name == 'Material3') {
      line-height: $avatar-base-line-height;
    }

    @if ($skin-name == 'fluent2') {
      &:has(:not(img)) {
        border: 1px solid $avatar-border;
      }
    }

    img {
      height: $avatar-base-img-height;
      width: auto;
    }

    &.e-avatar-circle {
      border-radius: $avatar-circle-border-radius;
      &.e-avatar-large,
      &.e-avatar-xlarge  {
        border-radius: $avatar-circle-border-radius;
      }
    }

    &.e-avatar-xsmall {
      font-size: $avatar-xsmall-font-size;
      @if ($skin-name == 'tailwind3' or $skin-name == 'tailwind' or $skin-name == 'tailwind-dark' or $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' or $skin-name == 'FluentUI' or $skin-name == 'Material3' or $skin-name == 'fluent2') {
        @include avatar-size(24px, 24px, $avatar-base-xsmall-line-height);
      }
    }

    &.e-avatar-small {
      font-size: $avatar-small-font-size;
      @if ($skin-name == 'tailwind3' or $skin-name == 'tailwind' or $skin-name == 'tailwind-dark' or $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' or $skin-name == 'FluentUI' or $skin-name == 'Material3' or $skin-name == 'fluent2') {
        @include avatar-size(32px, 32px, $avatar-base-small-line-height);
      }
    }

    &.e-avatar-large {
      font-size: $avatar-large-font-size;
      @if ($skin-name == 'tailwind3' or $skin-name == 'tailwind' or $skin-name == 'tailwind-dark' or $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' or $skin-name == 'FluentUI' or $skin-name == 'Material3' or $skin-name == 'fluent2') {
        @include avatar-size(48px, 48px, $avatar-base-large-line-height);
      }
      @if ($skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3') {
        border-radius: $avatar-large-border-radius;
      }
    }

    &.e-avatar-xlarge {
      font-size: $avatar-xlarge-font-size;
      @if ($skin-name == 'tailwind3' or $skin-name == 'tailwind' or $skin-name == 'tailwind-dark' or $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3' or $skin-name == 'FluentUI' or $skin-name == 'Material3' or $skin-name == 'fluent2') {
        @include avatar-size(56px, 56px, $avatar-base-xlarge-line-height);
      }
      @if ($skin-name == 'bootstrap5' or $skin-name == 'bootstrap5.3') {
        border-radius: $avatar-large-border-radius;
      }
    }
  }
}


/* stylelint-disable-line no-empty-source */

