@page "/autorefresh"
@inject RealtimeService service
@inject EmailAutoRefresh helloService

<style>
    body {
        margin: 0;
    }

    .container {
        perspective: 1000px;
        display: grid;
        align-items: center;
        justify-items: center;
        height: 100vh;
        wie: 100vw;
    }

    .rotate {
        height: 300px;
        width: 300px;
        background-color: lightcoral;
    }
</style>



<div class="m-2">
    <button class="btn btn-dark" @onclick=this.UpdateHello>Update Hello</button>
</div>

<div class="alert alert-primary">@helloService.HelloMessage</div>


<div class="container">
    <div class="rotate" style="transform: rotateX(@(service.a + "deg")) rotateY(@(service.b + "deg"));">
    </div>
    <input type="range" @bind="service.a" @bind:event="oninput" />
    <input type="range" @bind="service.b" @bind:event="oninput" />

</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        service.UpdateEvent += async () => await InvokeAsync(() => this.StateHasChanged());
        this.helloService.HelloChanged += this.OnHelloChanged;
    }

    private Task UpdateHello()
    {
        helloService.NotifyHelloChanged($"Hello Blazor at {DateTime.Now.ToLongTimeString()}");
        return Task.CompletedTask;
    }

    public void OnHelloChanged(object? sender, HelloEventArgs e)
        => InvokeAsync(this.StateHasChanged);

    // We must de-register the even handler
    public void Dispose()
        => this.helloService.HelloChanged -= this.OnHelloChanged;
}