@page "/DemoEmail"
@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@inject IMediator Mediator
@using global::Core.Entities;
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime JSRuntime
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService

@using global::Core.Entities.Views;
@using global::Core.EntityModels;


<DxHtmlEditor @bind-Value="@Markup" Height="200px">
    <DxHtmlEditorMentions>
        <DxHtmlEditorMention Data="@_participantData"
                             DisplayFieldName="@nameof(ViewEmployee.Name)"
                             SearchFieldNames="@SearchFieldNames" />
    </DxHtmlEditorMentions>
</DxHtmlEditor>

@code {
    private List<ViewEmployee>? _participant;
    public ApplicationUser? applicationUser { get; private set; }
    private ViewEmployee[] _participantData { get; set; }
    string Markup = "";
    string[] SearchFieldNames = { nameof(ViewEmployee.Name) };

   
     protected override async Task OnInitializedAsync()
    {

        Markup = GetData();

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        var plist = await Mediator.Send(new GetAllEmployeeListQuery());
        _participant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();


        _participantData = _participant.Select(p => new ViewEmployee
            {
                EmployeeID = p.EmployeeID,
                UserID = p.UserID,
                SageID = p.SageID,
                PlantID = p.PlantID,
                LevelID = p.LevelID,
                FirstName = p.FirstName,
                LastName = p.LastName,
                NickName = p.NickName,
                UserCode = p.UserCode,
                Name = $"{p.FirstName} {p.LastName}",
                
            }).ToArray();
    }
    public string GetData()
    {
        return $@"<p>Supported browsers:
                <table>
                    <tbody>
                        <tr>
                            <td><strong>Google Chrome (including Android)</strong></td>
                            <td>Latest</td>
                        </tr>
                        <tr>
                            <td><strong>Apple Safari (including iOS)</strong></td>
                            <td>Latest</td>
                        </tr>
                        <tr>
                            <td><strong>Mozilla Firefox</strong></td>
                            <td>Latest</td>
                        </tr>
                        <tr>
                            <td><strong>Microsoft Edge</strong></td>
                            <td>Latest</td>
                        </tr>
                        <tr>
                            <td><strong><a href='https://support.microsoft.com/en-us/microsoft-edge/what-is-microsoft-edge-legacy-3e779e55-4c55-08e6-ecc8-2333768c0fb0' rel='noopener noreferrer' target='_blank'>Microsoft Edge Legacy</a></strong></td>
                            <td>Not supported</td>
                        </tr>
                    </tbody>
                </table>
                <br>";
    }
}
