@page "/vk"
@using DevExpress.Blazor.Internal

<div class="card ch-480 overflow-hidden">
    <div class="card-header p-2 demo-bg-transparent">
        <DxToolbar>
            <Items>               
                <DxToolbarItem Alignment="ToolbarItemAlignment.Right"
                               Attributes="@(DrawerUtils.GetToolbarButtonAttributes(IsInfoOpen, "Info"))"
                               BeginGroup="true"
                               Click="ToggleInfo"
                               IconCssClass="tb-icon tb-icon-info"
                               CssClass="demo-drawer-toggle-button"
                               Text="Info" />
            </Items>
        </DxToolbar>
    </div>
    <div class="card-body p-0 overflow-auto">
       

        <DxDrawer CssClass="demo-drawer-overview-right"
                  @bind-IsOpen="IsInfoOpen"
                  Mode="DrawerMode.Overlap"
                  Position="DrawerPosition.Right"
                  PanelWidth="225px">
            <HeaderTemplate>
                Header
                <DxButton Attributes="GetCloseInfoButtonAttributes()"
                          Click="CloseInfo"
                          IconCssClass="tb-icon icon-close"
                          RenderStyle="ButtonRenderStyle.Link" />
            </HeaderTemplate>
            <BodyTemplate>
                <p>Donec eu nibh fermentum, commodo magna dictum, rhoncus orci. Suspendisse convallis malesuada tortor eget luctus. Donec lobortis porta blandit. In venenatis massa id consectetur ornare. Mauris et sem sem. Etiam at urna id nulla ornare finibus.</p>
            </BodyTemplate>
            <FooterTemplate>
                <DxButton Click="CloseInfo"
                          Text="OK" />
            </FooterTemplate>
            <TargetContent>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Penatibus et magnis dis parturient. Eget dolor morbi non arcu risus. Tristique magna sit amet purus gravida quis blandit. Auctor urna nunc id cursus metus aliquam eleifend mi in. Tellus orci ac auctor augue mauris augue neque gravida. Nullam vehicula ipsum a arcu. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi. Cursus in hac habitasse platea dictumst. Egestas dui id ornare arcu. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim.</p>
                <p>Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Neque volutpat ac tincidunt vitae semper quis lectus. Sed sed risus pretium quam vulputate dignissim suspendisse in. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat. Amet cursus sit amet dictum sit amet justo donec enim. Vestibulum rhoncus est pellentesque elit ullamcorper. Id aliquet risus feugiat in ante metus dictum at.</p>
            </TargetContent>
        </DxDrawer>
    </div>
</div>

@code {
    bool IsNavigationOpen { get; set; } = true;
    bool IsInfoOpen { get; set; } = true;
    void ToggleNavigation()
    {
        IsNavigationOpen = !IsNavigationOpen;
    }
    void ToggleInfo()
    {
        IsInfoOpen = !IsInfoOpen;
    }
    void CloseInfo()
    {
        IsInfoOpen = false;
    }
    Dictionary<string, object> GetCloseInfoButtonAttributes()
    {
        return new Dictionary<string, object> {
            { A11yAriaAttributeUtils.AriaLabel, "Close Info Drawer" }
        };
    }
}