@page "/richedit-compress-paste1"
@inject IJSRuntime JSRuntime

<div id="myRichEditWrapper">
    <DxRichEdit @ref="richEdit"
                Height="500px"
                DocumentFormat="DocumentFormat.Rtf" />
</div>