@using Application.Queries;
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using MediatR
@inject IMediator Mediator

<style scoped>
    .subviewEmail .dxbl-grid-header-row {
        display: none;
    }

    .dxbl-grid-detail-cell {
        padding: 10px 5px 10px 20px !important;
    }
</style>
<DxLoadingPanel @bind-Visible="PanelVisible" IsContentBlocked="true" ApplyBackgroundShading="true" IndicatorAreaVisible="false" Text="Fetching Data...">
    <DxGrid Data="@_forumTopicTo"
            PageSize="20" EditMode="GridEditMode.EditForm"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="ReplyId"
            CssClass="w-100 subviewEmail"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowClick="OnEmailAllRowClick"
            AutoExpandAllGroupRows="true"
            AllowSelectRowByClick="true">
        <Columns>
            <DxGridDataColumn FieldName="FirstName" Caption="">
                <CellDisplayTemplate>
                    @{
                        var item = (EmailTopics)context.DataItem;
                    }
                    <div style="width:100%">
                        <strong>@item.FirstName</strong>
                        <div>
                            <span style="float:right; font-size:11px;"> @Application.Common.Helper.Helper.FormatDateTime(item.StartDate)</span>
                            <text>@item.TopicName</text>
                        </div>
                    </div>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            @*<DxGridDataColumn FieldName="NotificationCount" Caption="#" Width="30" />*@
        </Columns>

    </DxGrid>
</DxLoadingPanel>



@code {
    [Parameter]
    public string? MSearchText { get; set; }
    IGrid Grid { get; set; }
    bool PanelVisible { get; set; }
    [Parameter]
    public EmailTopics Items { get; set; }
    private List<EmailTopics>? _forumTopicTo;
    public ApplicationUser applicationUser { get; private set; }
    string SelectedId = "none";
    [Parameter]
    public Action<string> RId { get; set; }
    [Parameter]
    public Action<string> SubViewAllTopicId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _forumTopicTo = await Mediator.Send(new GetSubEmailTopicAll(Items.ID, applicationUser.UserID, "NULL"));
        PanelVisible = false;
    }

    async Task OnEmailAllRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ReplyId");
        SelectedId = UniqueId.ToString();

        //long rId = (long.Parse(@SelectedId));
        RId?.Invoke(SelectedId);

        //await LoadData();
        // functionService.onSubViewEmailClick(rid);
        StateHasChanged();
    }
}