@inject IMediator Mediator
@inject IJSRuntime jsRuntime;
@using Application.Queries;
@using MediatR


@using global::Core.Entities;
<link href="_content/AC.SD.Core/css/todoList.css" rel="stylesheet" />
<div class="page-content page-container" id="page-content">
    <div class="">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card px-3">
                    <div class="card-body">
                        
                        <div class="add-items d-flex"> <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button> </div>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <li>
                                    <div class="form-check"> <label class="form-check-label">  For what reason would it be advisable. <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check"> <label class="form-check-label">  For what reason would it be advisable for me to think. <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check"> <label class="form-check-label">  it be advisable for me to think about business content? <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check"> <label class="form-check-label">  Print Statements all <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check"> <label class="form-check-label">  Call Rampbo <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check"> <label class="form-check-label">  Print bills <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 @code{
    private List<TopicToDoList>? _topicToDolist;
    protected override async Task OnInitializedAsync()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");
      
        var models = await Mediator.Send(new GetAllTopicToDoList());
        _topicToDolist = models;
        await jsRuntime.InvokeAsync<string>("hideLoading");
        //await jsRuntime.InvokeVoidAsync("import", "../wwwroot/common.js");
    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        // var com = await Mediator.Send(new CreateCompanyQuery());
        var editModel = (TopicToDoList)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateTopicTodoListQuery
                {

                    TopicName = editModel.TopicName,
                    AddedDate = DateTime.Now,
                    SessionId = Guid.NewGuid(),
                    StatusCodeID = 1,
                    AddedByUserID = 1,
                };

            var result = Mediator.Send(request);
        }
        else

        {
            //   var come = await Mediator.Send(new EditCompanyQuery());
            var req = new EditTopicTodoListQuery
                {

                    ID = editModel.ID,
                    TopicName = editModel.TopicName,
                    AddedDate = DateTime.Now,
                    SessionId = Guid.NewGuid(),
                    StatusCodeID = 1,
                    AddedByUserID = 1,


                };

            var ans = Mediator.Send(req);
        }

    }
    async Task OnDataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var dataitem = (e.DataItem as TopicToDoList);
        var come = await Mediator.Send(new DeleteTopicToDoListQuery(dataitem.ID));
    }
 }