@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@page "/todo"

<div class="">
    <div class="main-container">
        <div class="content-container row">
            <div class="@leftTodoDisplay" style="@styleTreeDisplay overflow-x: hidden;">
                <div class="mini-menu-bar-top">
                    <ToDoLeftNotes NotesId="onViewClick " Topicid="@TopicTid" @ref=RefToDoLeftNotes></ToDoLeftNotes>
                </div>
            </div>
            <div class="@RighttodoDisplay">
                <ToDoNotesList @ref=RefToDoHistoryList Topicid="@TopicTid"></ToDoNotesList>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public long Topicid { get; set; }
    long? SeletedNoteId { get; set; }
    long TopicTid { get; set; }
    private ToDoLeftNotes? RefToDoLeftNotes { get; set; }
    private ToDoNotesList? RefToDoHistoryList { get; set; }
     string leftTodoDisplay = "col-md-3";
    string RighttodoDisplay = "col-md-9";
    string styleTreeDisplay = "height: calc(100vh - 190px); padding:10px";
    protected override async Task OnInitializedAsync()
    {
        TopicTid = Topicid;
        if(Topicid > 0)
        {

            leftTodoDisplay = "col-md-3";
            RighttodoDisplay = "col-md-9";
        }
    }
    public async void onViewClick(long NoteId)
    {

        SeletedNoteId = NoteId;
        //await LoadData();
        await RefToDoHistoryList.LoadHistoryData(NoteId);
        StateHasChanged();
    }
    public async  Task leftTodoLst(long Topicid)
    {
        RefToDoLeftNotes.LoadData(Topicid);
    }
}
