#themesMenu a.blazing-berry:before {
    background: #5c2d91;
}

#themesMenu a.blazing-dark:before {
    background: #46444a;
}

#themesMenu a.office-white:before {
    background: #fe7109;
}

#themesMenu a.purple:before {
    background: #7989ff;
}


#themesMenu a.default:before {
    background: #007bff;
}

#themesMenu a.cerulean:before {
    background: #2fa4e7;
}

#themesMenu a.cyborg:before {
    background: #060606;
}

#themesMenu a.flatly:before {
    background: #dce4ec;
}

#themesMenu a.journal:before {
    background: #eb6864;
}

#themesMenu a.litera:before {
    background: #4582ec;
}

#themesMenu a.lumen:before {
    background: #158cba;
}

#themesMenu a.lux:before {
    background: #1a1a1a;
}

#themesMenu a.pulse:before {
    background: #593196;
}

#themesMenu a.simplex:before {
    background: #d9230f;
}

#themesMenu a.solar:before {
    background: #b58900;
}

#themesMenu a.superhero:before {
    background: #df691a;
}

#themesMenu a.united:before {
    background: #e95420;
}

#themesMenu a.yeti:before {
    background: #008cba;
}

/*Themes header Background color*/
.demo-header.navbar.theme-blazing-berry {
    background: #5c2d91;
}

.demo-header.navbar.theme-blazing-dark {
    background: #46444a;
}

.demo-header.navbar.theme-office-white {
    background: #fe7109;
}

.demo-header.navbar.theme-purple {
    background: #7989ff;
}


.demo-header.navbar.theme-default {
    background: #007bff;
}

.demo-header.navbar.theme-cerulean {
    background: #2fa4e7;
}

.demo-header.navbar.theme-cyborg {
    background: #060606;
}

.demo-header.navbar.theme-flatly {
    background: #dce4ec;
}

.demo-header.navbar.theme-journal {
    background: #eb6864;
}

.demo-header.navbar.theme-litera {
    background: #4582ec;
}

.demo-header.navbar.theme-lumen {
    background: #158cba;
}

.demo-header.navbar.theme-lux {
    background: #1a1a1a;
}

.demo-header.navbar.theme-pulse {
    background: #593196;
}

.demo-header.navbar.theme-simplex {
    background: #d9230f;
}

.demo-header.navbar.theme-solar {
    background: #b58900;
}

.demo-header.navbar.theme-superhero {
    background: #df691a;
}

.demo-header.navbar.theme-united {
    background: #e95420;
}

.demo-header.navbar.theme-yeti {
    background: #008cba;
}

/*End*/