@using Application.Queries;
@using MediatR;
@using Microsoft.AspNetCore.Hosting;
@using Newtonsoft.Json;
@using System.IO;
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@implements IAsyncDisposable
@inject ClipboardService ClipboardService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager Navigator
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Auto">
            <Items>
                <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@onBack" />
                <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@saveProfileTypeInfo" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxFormLayout CssClass="w-100">
    <DxFormLayoutItem Caption="" ColSpanMd="12">
        <DxRichEdit DocumentLoaded=OnDocumentLoaded DocumentFormat="DocumentFormat.Rtf" @ref="msgrichEdit" CustomizeToolbar=OnCustomizeToolbar BarMode="BarMode.Toolbar" CssClass="w-100 txtEditorMsg" ViewType="ViewType.Simple" />

    </DxFormLayoutItem>
   
</DxFormLayout>
@code {
    [Parameter]
    public DocumentsModel selectedItems { get; set; }
    [Parameter]
    public ApplicationUser applicationUser { get; set; }
    FileProfileTypeModel Data = new FileProfileTypeModel();
    [Parameter]
    public Action RevokeBack { get; set; }
    FileProfileTypeModel fileProfileTypeProfileInfo = new FileProfileTypeModel();
    DxRichEdit msgrichEdit { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Data.FileProfileTypeId = selectedItems.FileProfileTypeId.Value;
        fileProfileTypeProfileInfo = await Mediator.Send(new GetFileProfileTypeBySession(selectedItems.SessionID));
        if (fileProfileTypeProfileInfo.FileProfileTypeId > 0 && fileProfileTypeProfileInfo.FileProfileTypeId > 0 && !string.IsNullOrEmpty(fileProfileTypeProfileInfo.ProfileTypeInfo))
        {
            DevExpress.XtraRichEdit.RichEditDocumentServer server = new DevExpress.XtraRichEdit.RichEditDocumentServer();
            byte[] fileContent = System.Text.Encoding.UTF8.GetBytes(fileProfileTypeProfileInfo.ProfileTypeInfo);
            server.LoadDocument(fileContent);
            await msgrichEdit.LoadDocumentAsync(server.OpenXmlBytes, DocumentFormat.OpenXml);
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await msgrichEdit.NewDocumentAsync();
            }
            catch (TaskCanceledException) { }
        }
        await base.OnAfterRenderAsync(firstRender);
    }
    async Task OnDocumentLoaded(Document document)
    {
        await document.ChangeDefaultCharacterPropertiesAsync(properties =>
        {
            // properties.FontName = "Times New Roman";
            properties.FontSize = 14;
        });
    }
    async Task saveProfileTypeInfo()
    {
        await msgrichEdit.SaveDocumentAsync();
        using DevExpress.XtraRichEdit.RichEditDocumentServer server = new DevExpress.XtraRichEdit.RichEditDocumentServer();
        byte[] fileContent1 = await msgrichEdit.ExportDocumentAsync(DocumentFormat.Rtf);
        server.LoadDocument(fileContent1);
        server.Options.Export.Html.EmbedImages = true;
        byte[] fileContents = server.SaveDocument(DevExpress.XtraRichEdit.DocumentFormat.Html);
        string htmlContent = System.Text.Encoding.UTF8.GetString(fileContents);
        Data.ProfileTypeInfo = htmlContent;
        var response = await Mediator.Send(new UpdateProfileTypeInfo(Data));
        if (response.FileProfileTypeId > 0)
        {
            toastService.ShowToast("Record Saved Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
    }
    void onBack()
    {
        clearData();
        RevokeBack?.Invoke();
    }
    async void OnCustomizeToolbar(IToolbar toolbar)
    {
        BarGroupCollection groups = toolbar.Groups;
        toolbar.Groups.Clear();

        // Inserts the File group at the first position in the group collection
        //toolbar.Groups.Add(0, RichEditToolbarGroupNames.File);
        toolbar.Groups.Add(0, RichEditToolbarGroupNames.Undo);
        toolbar.Groups.Add(1, RichEditToolbarGroupNames.Font);
        toolbar.Groups.Add(2, RichEditToolbarGroupNames.Table);
        toolbar.Groups.Add(2, RichEditToolbarGroupNames.Picture);
        toolbar.Groups.Add(2, RichEditToolbarGroupNames.Paragraph);


        //AddFormattingGroup(groups);


        IBarGroup fontGroup = toolbar.Groups[RichEditToolbarGroupNames.Font];
        //IBarItem fontSizeItem = fontGroup.Items[RichEditBarItemNames.FontSize];

        //// Assuming fontSizeItem has a property to set the font size
        //fontSizeItem  = 18; // Assuming 18 is the desired font size


        //IBarItem fontSizeItem = fontGroup.Items[RichEditBarItemNames.FontSize];
        //if (fontSizeItem.Type == BarItemTypes.ComboBox)
        //{
        //    IBarComboBox fontSizeComboBox = (IBarComboBox)fontSizeItem;
        //    fontSizeComboBox.Items.Clear();
        //    fontSizeComboBox.Items.Add("12", "12");
        //    fontSizeComboBox.Items.Add("14", "14");
        //    fontSizeComboBox.Items.Add("18", "18");
        //    fontSizeComboBox.Items.Add("24", "24");
        //    fontSizeComboBox.AllowUserInput = false;
        //    //fontSizeComboBox = 2; // Set the default font size
        //    //int defaultFontSizeIndex = fontSizeComboBox.Items.IndexOf(2);
        //}
        //fontSizeItem.Text = "Font Size:";
        //fontSizeItem.Tooltip = "Changes the selected text's font size.";




        //AddFormattingGroup(toolbar.Groups);

        IBarGroup undoRedoGroup = toolbar.Groups[0];
        undoRedoGroup.Items.Add(0, RichEditBarItemNames.FullScreen);
    }
    public void clearData()
    {
        selectedItems = null;
        fileProfileTypeProfileInfo = null;
        Data = new FileProfileTypeModel();
        StateHasChanged();
    }
    public async ValueTask DisposeAsync()
    {
        System.GC.Collect();
        clearData();
        GC.SuppressFinalize(this);
    }
}
