@using Application.Command.Ictmaster;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator;
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime

@page "/ictMaster"


<div class="cw-480 ch-220" >
    <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex" >
        <DxTab Text="Site"></DxTab>
        <DxTab Text="Zone"></DxTab>
        <DxTab Text="Location"></DxTab>
        <DxTab Text="Area"></DxTab>
        <DxTab Text="SpecificaArea"></DxTab>
    </DxTabs>
    <div class="card tabs-border-top-0 tabs-border-radius-top-0" style="height: calc(100vh - 200px);">
        <div class="card-body">
            @switch (ActiveTabIndex)
            {
                case 0:
                    <Site />
                    break;
                case 1:
                    <Zone />
                    break;
                case 2:
                    <Location />
                    break;
                case 3:
                    <Area />
                    break;
                case 4:
                    <SpecificArea/>
                    break;
            }
        </div>
    </div>
</div>

@code {
    int ActiveTabIndex { get; set; } =0;
  
}