@using Application.Command.Ictmaster;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator;
@using DevExpress.Export
@using Application.Response;
@page "/ictmaster"

<div class="cw-480 ch-220">
    <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
        <DxTab Text="Site"></DxTab>
        <DxTab Text="Zone"></DxTab>
        <DxTab Text="Location"></DxTab>
        <DxTab Text="Area"></DxTab>
    </DxTabs>
    <div class="card tabs-border-top-0 tabs-border-radius-top-0" style="min-height: 190px">
        <div class="card-body">
            @switch (ActiveTabIndex)
            {
                case 0:
                    <h2>Add Site</h2>
                    <Site />
                    break;
                case 1:
                    <h2>Zone</h2>
                    <Zone />
                    break;
                case 2:
                    <h2>Add Location</h2>
                    <Location />
                    break;
                case 3:
                    <h2>Add Area</h2>
                    <Area />
                    break;
            }
        </div>
    </div>
</div>

@code {
    int ActiveTabIndex { get; set; } = 1;
}
